In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing draft data
draft_2022 = pd.read_csv('draft_data/2022.csv')
draft_2021 = pd.read_csv('draft_data/2021.csv')
draft_2020 = pd.read_csv('draft_data/2020.csv')
draft_2019 = pd.read_csv('draft_data/2019.csv')
draft_2018 = pd.read_csv('draft_data/2018.csv')
draft_2017 = pd.read_csv('draft_data/2017.csv')
draft_2016 = pd.read_csv('draft_data/2016.csv')
draft_2015 = pd.read_csv('draft_data/2015.csv')
draft_2014 = pd.read_csv('draft_data/2014.csv')
draft_2013 = pd.read_csv('draft_data/2013.csv')
draft_2012 = pd.read_csv('draft_data/2012.csv')
draft_2011 = pd.read_csv('draft_data/2011.csv')
draft_2010 = pd.read_csv('draft_data/2010.csv')
draft_2009 = pd.read_csv('draft_data/2009.csv')
draft_2008 = pd.read_csv('draft_data/2008.csv')
draft_2007 = pd.read_csv('draft_data/2007.csv')
draft_2006 = pd.read_csv('draft_data/2006.csv')
draft_2005 = pd.read_csv('draft_data/2005.csv')
draft_2004 = pd.read_csv('draft_data/2004.csv')
draft_2003 = pd.read_csv('draft_data/2003.csv')
draft_2002 = pd.read_csv('draft_data/2002.csv')
draft_2001 = pd.read_csv('draft_data/2001.csv')
draft_2000 = pd.read_csv('draft_data/2000.csv')
draft_1999 = pd.read_csv('draft_data/1999.csv')
draft_1998 = pd.read_csv('draft_data/1998.csv')
draft_1997 = pd.read_csv('draft_data/1997.csv')
draft_1996 = pd.read_csv('draft_data/1996.csv')
draft_1995 = pd.read_csv('draft_data/1995.csv')
draft_1994 = pd.read_csv('draft_data/1994.csv')
draft_1993 = pd.read_csv('draft_data/1993.csv')

# adding a year column to draft dfs
draft_2022['Year'] = 2022
draft_2021['Year'] = 2021
draft_2020['Year'] = 2020
draft_2019['Year'] = 2019
draft_2018['Year'] = 2018
draft_2017['Year'] = 2017
draft_2016['Year'] = 2016
draft_2015['Year'] = 2015
draft_2014['Year'] = 2014
draft_2013['Year'] = 2013
draft_2012['Year'] = 2012
draft_2011['Year'] = 2011
draft_2010['Year'] = 2010
draft_2009['Year'] = 2009
draft_2008['Year'] = 2008
draft_2007['Year'] = 2007
draft_2006['Year'] = 2006
draft_2005['Year'] = 2005
draft_2004['Year'] = 2004
draft_2003['Year'] = 2003
draft_2002['Year'] = 2002
draft_2001['Year'] = 2001
draft_2000['Year'] = 2000
draft_1999['Year'] = 1999
draft_1998['Year'] = 1998
draft_1997['Year'] = 1997
draft_1996['Year'] = 1996
draft_1995['Year'] = 1995
draft_1994['Year'] = 1994
draft_1993['Year'] = 1993

# read in combine data
combine_2022 = pd.read_csv('combine_data/2022.csv')
combine_2021 = pd.read_csv('combine_data/2021.csv')
combine_2020 = pd.read_csv('combine_data/2020.csv')
combine_2019 = pd.read_csv('combine_data/2019.csv')
combine_2018 = pd.read_csv('combine_data/2018.csv')
combine_2017 = pd.read_csv('combine_data/2017.csv')
combine_2016 = pd.read_csv('combine_data/2016.csv')
combine_2015 = pd.read_csv('combine_data/2015.csv')
combine_2014 = pd.read_csv('combine_data/2014.csv')
combine_2013 = pd.read_csv('combine_data/2013.csv')
combine_2012 = pd.read_csv('combine_data/2012.csv')
combine_2011 = pd.read_csv('combine_data/2011.csv')
combine_2010 = pd.read_csv('combine_data/2010.csv')
combine_2009 = pd.read_csv('combine_data/2009.csv')
combine_2008 = pd.read_csv('combine_data/2008.csv')
combine_2007 = pd.read_csv('combine_data/2007.csv')
combine_2006 = pd.read_csv('combine_data/2006.csv')
combine_2005 = pd.read_csv('combine_data/2005.csv')
combine_2004 = pd.read_csv('combine_data/2004.csv')
combine_2003 = pd.read_csv('combine_data/2003.csv')
combine_2002 = pd.read_csv('combine_data/2002.csv')
combine_2001 = pd.read_csv('combine_data/2001.csv')
combine_2000 = pd.read_csv('combine_data/2000.csv')
combine_1999 = pd.read_csv('combine_results/1999.csv')
combine_1998 = pd.read_csv('combine_results/1998.csv')
combine_1997 = pd.read_csv('combine_results/1997.csv')
combine_1996 = pd.read_csv('combine_results/1996.csv')
combine_1995 = pd.read_csv('combine_results/1995.csv')
combine_1994 = pd.read_csv('combine_results/1994.csv')
combine_1993 = pd.read_csv('combine_results/1993.csv')

# adding a year to the combine data
combine_2022['Year'] = 2022
combine_2021['Year'] = 2021
combine_2020['Year'] = 2020
combine_2019['Year'] = 2019
combine_2018['Year'] = 2018
combine_2017['Year'] = 2017
combine_2016['Year'] = 2016
combine_2015['Year'] = 2015
combine_2014['Year'] = 2014
combine_2013['Year'] = 2013
combine_2012['Year'] = 2012
combine_2011['Year'] = 2011
combine_2010['Year'] = 2010
combine_2009['Year'] = 2009
combine_2008['Year'] = 2008
combine_2007['Year'] = 2007
combine_2006['Year'] = 2006
combine_2005['Year'] = 2005
combine_2004['Year'] = 2004
combine_2003['Year'] = 2003
combine_2002['Year'] = 2002
combine_2001['Year'] = 2001
combine_2000['Year'] = 2000
combine_1999['Year'] = 1999
combine_1998['Year'] = 1998
combine_1997['Year'] = 1997
combine_1996['Year'] = 1996
combine_1995['Year'] = 1995
combine_1994['Year'] = 1994
combine_1993['Year'] = 1993

# read in rushing data
passing_2022 = pd.read_csv('passing/2022.csv')
passing_2021 = pd.read_csv('passing/2021.csv')
passing_2020 = pd.read_csv('passing/2020.csv')
passing_2019 = pd.read_csv('passing/2019.csv')
passing_2018 = pd.read_csv('passing/2018.csv')
passing_2017 = pd.read_csv('passing/2017.csv')
passing_2016 = pd.read_csv('passing/2016.csv')
passing_2015 = pd.read_csv('passing/2015.csv')
passing_2014 = pd.read_csv('passing/2014.csv')
passing_2013 = pd.read_csv('passing/2013.csv')
passing_2012 = pd.read_csv('passing/2012.csv')
passing_2011 = pd.read_csv('passing/2011.csv')
passing_2010 = pd.read_csv('passing/2010.csv')
passing_2009 = pd.read_csv('passing/2009.csv')
passing_2008 = pd.read_csv('passing/2008.csv')
passing_2007 = pd.read_csv('passing/2007.csv')
passing_2006 = pd.read_csv('passing/2006.csv')
passing_2005 = pd.read_csv('passing/2005.csv')
passing_2004 = pd.read_csv('passing/2004.csv')
passing_2003 = pd.read_csv('passing/2003.csv')
passing_2002 = pd.read_csv('passing/2002.csv')
passing_2001 = pd.read_csv('passing/2001.csv')
passing_2000 = pd.read_csv('passing/2000.csv')
passing_1999 = pd.read_csv('passing/1999.csv')
passing_1998 = pd.read_csv('passing/1998.csv')
passing_1997 = pd.read_csv('passing/1997.csv')
passing_1996 = pd.read_csv('passing/1996.csv')
passing_1995 = pd.read_csv('passing/1995.csv')
passing_1994 = pd.read_csv('passing/1994.csv')
passing_1993 = pd.read_csv('passing/1993.csv')

# add a year column to receiving
passing_2022['Year'] = 2022
passing_2021['Year'] = 2021
passing_2020['Year'] = 2020
passing_2019['Year'] = 2019
passing_2018['Year'] = 2018
passing_2017['Year'] = 2017
passing_2016['Year'] = 2016
passing_2015['Year'] = 2015
passing_2014['Year'] = 2014
passing_2013['Year'] = 2013
passing_2012['Year'] = 2012
passing_2011['Year'] = 2011
passing_2010['Year'] = 2010
passing_2009['Year'] = 2009
passing_2008['Year'] = 2008
passing_2007['Year'] = 2007
passing_2006['Year'] = 2006
passing_2005['Year'] = 2005
passing_2004['Year'] = 2004
passing_2003['Year'] = 2003
passing_2002['Year'] = 2002
passing_2001['Year'] = 2001
passing_2000['Year'] = 2000
passing_1999['Year'] = 1999
passing_1998['Year'] = 1998
passing_1997['Year'] = 1997
passing_1996['Year'] = 1996
passing_1995['Year'] = 1995
passing_1994['Year'] = 1994
passing_1993['Year'] = 1993

In [3]:
passing_2021.head()

,Rk,Player,School,Conf,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,AdjustedYardsPerAttempt,PassingTDs,Int,EfficiencyRtg,RushAtt,RushYds,RushAvg,RushTD,Year
0,1,Grayson McCall,Coastal Carolina,Sun Belt,11,176,241,73.0,2873,11.9,13.6,27,3,207.6,93,290,3.1,4,2021
1,2,C.J. Stroud,Ohio State,Big Ten,12,317,441,71.9,4435,10.1,11.4,44,6,186.6,32,-20,-0.6,0,2021
2,3,Stetson Bennett,Georgia,SEC,14,185,287,64.5,2862,10.0,10.9,29,7,176.7,56,259,4.6,1,2021
3,4,Hendon Hooker,Tennessee,SEC,13,206,303,68.0,2945,9.7,11.3,31,3,181.4,166,616,3.7,5,2021
4,5,Dylan Hopkins,UAB,CUSA,13,155,235,66.0,2274,9.7,9.9,18,7,166.6,85,19,0.2,5,2021

In [4]:
def clean_combine(combine_full, position):
    combine_full = combine_full[combine_full['Position']==f'{position}']
    combine_full = combine_full[combine_full['Year'].notna()].copy()
    combine_full = combine_full.reset_index(drop=True)
    combine_full['Year'] = combine_full['Year'].astype(int)
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['Player'] = combine_full['Player'].str.lower()
    combine_full['Drafted'] = combine_full['Drafted'].str.split("/")
    combine_full['Round'] = combine_full['Drafted'].str[1]
    combine_full['Pick'] = combine_full['Drafted'].str[2]
    combine_full['Pick'] = combine_full['Pick'].str.replace("th pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("rd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("nd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("st pick","")

    combine_full['Round'] = combine_full['Round'].str.replace("th","")
    combine_full['Round'] = combine_full['Round'].str.replace("rd","")
    combine_full['Round'] = combine_full['Round'].str.replace("nd","")
    combine_full['Round'] = combine_full['Round'].str.replace("st","")

    combine_full['Pick'] = combine_full['Pick'].astype('int32')
    combine_full['Round'] = combine_full['Round'].astype('int32')
    # converting height to inches
    combine_full = combine_full[combine_full['Height'].notnull()]
    combine_full['Height'] = combine_full['Height'].str.split("-")
    combine_full['Feet'] = combine_full['Height'].str[0]
    combine_full['Inches'] = combine_full['Height'].str[1]
    combine_full['Feet'] = combine_full['Feet'].astype('int')
    combine_full['Inches'] = combine_full['Inches'].astype('int')
    combine_full['Height (in)'] = combine_full['Feet']*12 + combine_full['Inches']

    combine_full = combine_full.drop(columns=['College', 'Height', 'Bench', 'Broad Jump', 'Drafted', 'Feet', 'Inches'])
    
    return combine_full

In [5]:
def clean_combine90s(combine_full, position):
    combine_full = combine_full[combine_full['POS']==f'{position}']
    combine_full = combine_full[combine_full['Year'].notna()].copy()
    combine_full = combine_full.reset_index(drop=True)
    # converting to an integer to remove decimal then to string to concatenate with other fields
    combine_full['Year'] = combine_full['Year'].astype(int)
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['Name'] = combine_full['Name'].str.lower()
    
    combine_full = combine_full.drop(columns=['Hand Size (in)', 'Arm Length (in)', 'Bench Press', '60Yd Shuttle', 'Wonderlic', 'Broad Jump (in)'])
    cols = combine_full.columns.tolist()
    cols = [cols[1]] + [cols[3]] + [cols[2]] + cols[5:8] + [cols[-1]]+ [cols[-2]] + [cols[0]] + [cols[4]]
    combine_full = combine_full[cols]
    combine_full.columns = ['Player', 'Position', 'School', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Year', 'Height (in)']
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['PK'] = combine_full['Player'].str.lower() + "+" + combine_full['Year']
    combine_full['Year'] = combine_full['Year'].astype(int)
    return combine_full

In [6]:
pass_stats = pd.concat([passing_2022, passing_2021, passing_2020, passing_2019, passing_2018, passing_2017, passing_2016, passing_2015, passing_2014, passing_2013, passing_2012, passing_2011, passing_2010, passing_2009, passing_2008,
                          passing_2007, passing_2006, passing_2005, passing_2004, passing_2003, passing_2002, passing_2001, passing_2000, passing_1999, passing_1998, passing_1997, 
                        passing_1996, passing_1995, passing_1994, passing_1993])
pass_stats

,Rk,Player,School,Conf,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,AdjustedYardsPerAttempt,PassingTDs,Int,EfficiencyRtg,RushAtt,RushYds,RushAvg,RushTD,Year
0,1,Hendon Hooker,Tennessee,SEC,11,229,329,69.6,3135,9.5,10.9,27,2,175.5,104,430,4.1,5,2022
1,2,Todd Centeio,James Madison,Sun Belt,10,181,284,63.7,2697,9.5,10.5,25,5,169.0,95,366,3.9,7,2022
2,3,C.J. Stroud,Ohio State,Big Ten,12,235,355,66.2,3340,9.4,10.7,37,6,176.2,35,74,2.1,0,2022
3,4,Kurtis Rourke,Ohio,MAC,11,244,353,69.1,3257,9.2,10.1,25,4,167.7,74,245,3.3,4,2022
4,5,Grayson McCall,Coastal Carolina,Sun Belt,10,197,285,69.1,2633,9.2,10.6,24,2,173.1,87,183,2.1,5,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,Jamie Howard,LSU,SEC,10,106,248,42.7,1319,5.3,3.7,7,12,87.1,45,0,0.0,0,1993
80,81,Craig Randall,Tulane,Ind,12,151,305,49.5,1565,5.1,3.6,8,14,92.1,82,-70,-0.9,1,1993
81,82,Chuck Clements,Houston,SWC,9,124,239,51.9,1216,5.1,3.5,4,10,91.8,14,-36,-2.6,0,1993
82,83,Danny Smith,Miami (OH),MAC,11,92,195,47.2,982,5.0,3.3,6,10,89.4,20,-26,-1.3,0,1993
83,84,Kevin Bentley,Southern Mississippi,Ind,11,77,192,40.1,911,4.7,2.3,6,13,76.7,47,-61,-1.3,0,1993

In [7]:
pass_stats['AdjustedYds'] = pass_stats['AdjustedYardsPerAttempt']*pass_stats['Attempts']

In [8]:
pass_stats.head()

,Rk,Player,School,Conf,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,AdjustedYardsPerAttempt,PassingTDs,Int,EfficiencyRtg,RushAtt,RushYds,RushAvg,RushTD,Year,AdjustedYds
0,1,Hendon Hooker,Tennessee,SEC,11,229,329,69.6,3135,9.5,10.9,27,2,175.5,104,430,4.1,5,2022,3586.1
1,2,Todd Centeio,James Madison,Sun Belt,10,181,284,63.7,2697,9.5,10.5,25,5,169.0,95,366,3.9,7,2022,2982.0
2,3,C.J. Stroud,Ohio State,Big Ten,12,235,355,66.2,3340,9.4,10.7,37,6,176.2,35,74,2.1,0,2022,3798.5
3,4,Kurtis Rourke,Ohio,MAC,11,244,353,69.1,3257,9.2,10.1,25,4,167.7,74,245,3.3,4,2022,3565.3
4,5,Grayson McCall,Coastal Carolina,Sun Belt,10,197,285,69.1,2633,9.2,10.6,24,2,173.1,87,183,2.1,5,2022,3021.0

In [9]:
# standardizing player names and adding a primary key and space for a last_year column
pass_stats['Player'] = pass_stats['Player'].str.lower()
pass_stats['PK1'] = pass_stats['Player']+"+"+pass_stats['School']
pass_stats['Last_Year'] = np.nan

In [10]:
def get_ly(pk):
    """Function to determine the last year a player played in college"""
    a = pass_stats.loc[pass_stats['PK1']==f'{pk}']
    b = max(a['Year'])
    return b

In [11]:
# creating a list for use in the next step
pk_list = []
for index, row in pass_stats.iterrows():
    pk_list.append(row['PK1'])
    
pk_list[:5]

['hendon hooker+Tennessee',
 'todd centeio+James Madison',
 'c.j. stroud+Ohio State',
 'kurtis rourke+Ohio',
 'grayson mccall+Coastal Carolina']

In [12]:
# creating a list of the last year each player played 
year_list = []
for x in pk_list:
    year_list.append(get_ly(f"{x}"))

year_list[:5]

[2022, 2022, 2022, 2022, 2022]

In [13]:
# adding year column to df
pass_stats['Last_Year'] = year_list
pass_stats.head()

,Rk,Player,School,Conf,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,...,Int,EfficiencyRtg,RushAtt,RushYds,RushAvg,RushTD,Year,AdjustedYds,PK1,Last_Year
0,1,hendon hooker,Tennessee,SEC,11,229,329,69.6,3135,9.5,...,2,175.5,104,430,4.1,5,2022,3586.1,hendon hooker+Tennessee,2022
1,2,todd centeio,James Madison,Sun Belt,10,181,284,63.7,2697,9.5,...,5,169.0,95,366,3.9,7,2022,2982.0,todd centeio+James Madison,2022
2,3,c.j. stroud,Ohio State,Big Ten,12,235,355,66.2,3340,9.4,...,6,176.2,35,74,2.1,0,2022,3798.5,c.j. stroud+Ohio State,2022
3,4,kurtis rourke,Ohio,MAC,11,244,353,69.1,3257,9.2,...,4,167.7,74,245,3.3,4,2022,3565.3,kurtis rourke+Ohio,2022
4,5,grayson mccall,Coastal Carolina,Sun Belt,10,197,285,69.1,2633,9.2,...,2,173.1,87,183,2.1,5,2022,3021.0,grayson mccall+Coastal Carolina,2022

In [14]:
# drop categorical variables, and last_year (since we don't want to sum this one)
pass_stats1 = pass_stats.drop(columns=['Player', 'School', 'Conf', 'Rk', "Last_Year"]).copy()

In [15]:
# grouping stats by player
pass_stats_grouped = pass_stats1.groupby(by='PK1').sum()
pass_stats_grouped.head()

,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,AdjustedYardsPerAttempt,PassingTDs,Int,EfficiencyRtg,RushAtt,RushYds,RushAvg,RushTD,Year,AdjustedYds
PK1,,,,,,,,,,,,,,,,
a.j. doyle+Massachusetts,11,128,235,54.5,1274,5.4,3.8,6,11,99.1,65,151,2.3,0,2013,893.0
a.j. erdely+UAB,13,205,338,60.7,2331,6.9,7.3,16,4,131.8,122,326,2.7,13,2017,2467.4
a.j. feeley+Oregon,10,136,259,52.5,1951,7.5,7.6,14,6,129.0,31,-5,-0.2,0,1999,1968.4
a.j. mccarron+Alabama,40,656,978,201.3,8630,26.4,28.9,74,15,489.8,113,-40,-1.2,3,6036,9406.4
a.j. suggs+Georgia Tech,13,208,363,57.3,2242,6.2,5.0,12,15,111.8,52,21,0.4,0,2002,1815.0

In [16]:
# adding a yards per game column
pass_stats_grouped['YPG'] = pass_stats_grouped['PassYds'] / pass_stats_grouped['G']
pass_stats_grouped['AdjustedYardsPerAttempt'] = pass_stats_grouped['AdjustedYds'] / pass_stats_grouped['Attempts']
pass_stats_grouped['YardsPerAttempt'] = pass_stats_grouped['PassYds'] / pass_stats_grouped['Attempts']
pass_stats_grouped = pass_stats_grouped.merge(pass_stats.drop_duplicates(subset=['PK1'])[['PK1', 'Last_Year', 'Conf']], on='PK1', how='left')
pass_stats_grouped['year_drafted'] = pass_stats_grouped['Last_Year']+1
pass_stats_grouped['year_drafted'] = pass_stats_grouped['year_drafted'].astype(str)
pass_stats_grouped.head()

,PK1,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,AdjustedYardsPerAttempt,PassingTDs,Int,...,RushAtt,RushYds,RushAvg,RushTD,Year,AdjustedYds,YPG,Last_Year,Conf,year_drafted
0,a.j. doyle+Massachusetts,11,128,235,54.5,1274,5.421277,3.800000,6,11,...,65,151,2.3,0,2013,893.0,115.818182,2013,MAC,2014
1,a.j. erdely+UAB,13,205,338,60.7,2331,6.896450,7.300000,16,4,...,122,326,2.7,13,2017,2467.4,179.307692,2017,CUSA,2018
2,a.j. feeley+Oregon,10,136,259,52.5,1951,7.532819,7.600000,14,6,...,31,-5,-0.2,0,1999,1968.4,195.100000,1999,Pac-10,2000
3,a.j. mccarron+Alabama,40,656,978,201.3,8630,8.824131,9.617996,74,15,...,113,-40,-1.2,3,6036,9406.4,215.750000,2013,SEC,2014
4,a.j. suggs+Georgia Tech,13,208,363,57.3,2242,6.176309,5.000000,12,15,...,52,21,0.4,0,2002,1815.0,172.461538,2002,ACC,2003

In [17]:
pass_stats_grouped['PK'] = pass_stats_grouped['PK1'].str.split("+").str[0]+"+"+pass_stats_grouped['year_drafted']
pass_stats_grouped.head()

,PK1,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,AdjustedYardsPerAttempt,PassingTDs,Int,...,RushYds,RushAvg,RushTD,Year,AdjustedYds,YPG,Last_Year,Conf,year_drafted,PK
0,a.j. doyle+Massachusetts,11,128,235,54.5,1274,5.421277,3.800000,6,11,...,151,2.3,0,2013,893.0,115.818182,2013,MAC,2014,a.j. doyle+2014
1,a.j. erdely+UAB,13,205,338,60.7,2331,6.896450,7.300000,16,4,...,326,2.7,13,2017,2467.4,179.307692,2017,CUSA,2018,a.j. erdely+2018
2,a.j. feeley+Oregon,10,136,259,52.5,1951,7.532819,7.600000,14,6,...,-5,-0.2,0,1999,1968.4,195.100000,1999,Pac-10,2000,a.j. feeley+2000
3,a.j. mccarron+Alabama,40,656,978,201.3,8630,8.824131,9.617996,74,15,...,-40,-1.2,3,6036,9406.4,215.750000,2013,SEC,2014,a.j. mccarron+2014
4,a.j. suggs+Georgia Tech,13,208,363,57.3,2242,6.176309,5.000000,12,15,...,21,0.4,0,2002,1815.0,172.461538,2002,ACC,2003,a.j. suggs+2003

In [18]:
def combine_draft_and_combine(df1, df2):
    """Function for combining the draft order and combine data
    df1 refers to the draft dataframe, df2 is combine. This function only works for 2000-present"""
    df1 = df1[df1['Position']=='QB']
    a = df1.merge(df2, how='left', on='Pick')
    a = a.drop(columns=['Player_y', 'Position_y','School_y','Year_y', 'Round_y'])
    a.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)']
    a['Year'] = a['Year'].astype(str)
    a['PK'] = a['Player'] + "+" + a['Year']
    a['PK'] = a['PK'].str.lower()
    return a

In [19]:
def combine_draft_and_combine90s(df1, df2):
    df1 = df1[df1['Position']=='QB'].copy()
    df1['Year'] = df1['Year'].astype(str)
    df1['PK'] = df1['Player'].str.lower()+"+"+df1['Year']
    df1['Year'] = df1['Year'].astype(int)
    a = df1.merge(df2, how='left', on='PK')
    a = a.drop(columns=['Player_y', 'Position_y','School_y','Year_y'])
    a.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'PK', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)']
    a = a[['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)', 'PK']]
    return a

In [20]:
def get_final_df(df1, df2):
    a = df1.merge(df2, on='PK', how='left')
    return a

In [21]:
pass_stats_grouped.head()

,PK1,G,Completions,Attempts,CompletionPCT,PassYds,YardsPerAttempt,AdjustedYardsPerAttempt,PassingTDs,Int,...,RushYds,RushAvg,RushTD,Year,AdjustedYds,YPG,Last_Year,Conf,year_drafted,PK
0,a.j. doyle+Massachusetts,11,128,235,54.5,1274,5.421277,3.800000,6,11,...,151,2.3,0,2013,893.0,115.818182,2013,MAC,2014,a.j. doyle+2014
1,a.j. erdely+UAB,13,205,338,60.7,2331,6.896450,7.300000,16,4,...,326,2.7,13,2017,2467.4,179.307692,2017,CUSA,2018,a.j. erdely+2018
2,a.j. feeley+Oregon,10,136,259,52.5,1951,7.532819,7.600000,14,6,...,-5,-0.2,0,1999,1968.4,195.100000,1999,Pac-10,2000,a.j. feeley+2000
3,a.j. mccarron+Alabama,40,656,978,201.3,8630,8.824131,9.617996,74,15,...,-40,-1.2,3,6036,9406.4,215.750000,2013,SEC,2014,a.j. mccarron+2014
4,a.j. suggs+Georgia Tech,13,208,363,57.3,2242,6.176309,5.000000,12,15,...,21,0.4,0,2002,1815.0,172.461538,2002,ACC,2003,a.j. suggs+2003

In [22]:
final_2022 = get_final_df(combine_draft_and_combine(draft_2022, clean_combine(combine_2022, "QB")), pass_stats_grouped)
final_2021 = get_final_df(combine_draft_and_combine(draft_2021, clean_combine(combine_2021, "QB")), pass_stats_grouped)
final_2020 = get_final_df(combine_draft_and_combine(draft_2020, clean_combine(combine_2020, "QB")), pass_stats_grouped)
final_2019 = get_final_df(combine_draft_and_combine(draft_2019, clean_combine(combine_2019, "QB")), pass_stats_grouped)
final_2018 = get_final_df(combine_draft_and_combine(draft_2018, clean_combine(combine_2018, "QB")), pass_stats_grouped)
final_2017 = get_final_df(combine_draft_and_combine(draft_2017, clean_combine(combine_2017, "QB")), pass_stats_grouped)
final_2016 = get_final_df(combine_draft_and_combine(draft_2016, clean_combine(combine_2016, "QB")), pass_stats_grouped)
final_2015 = get_final_df(combine_draft_and_combine(draft_2015, clean_combine(combine_2015, "QB")), pass_stats_grouped)
final_2014 = get_final_df(combine_draft_and_combine(draft_2014, clean_combine(combine_2014, "QB")), pass_stats_grouped)
final_2013 = get_final_df(combine_draft_and_combine(draft_2013, clean_combine(combine_2013, "QB")), pass_stats_grouped)
final_2012 = get_final_df(combine_draft_and_combine(draft_2012, clean_combine(combine_2012, "QB")), pass_stats_grouped)
final_2011 = get_final_df(combine_draft_and_combine(draft_2011, clean_combine(combine_2011, "QB")), pass_stats_grouped)
final_2010 = get_final_df(combine_draft_and_combine(draft_2010, clean_combine(combine_2010, "QB")), pass_stats_grouped)
final_2009 = get_final_df(combine_draft_and_combine(draft_2009, clean_combine(combine_2009, "QB")), pass_stats_grouped)
final_2008 = get_final_df(combine_draft_and_combine(draft_2008, clean_combine(combine_2008, "QB")), pass_stats_grouped)
final_2007 = get_final_df(combine_draft_and_combine(draft_2007, clean_combine(combine_2007, "QB")), pass_stats_grouped)
final_2006 = get_final_df(combine_draft_and_combine(draft_2006, clean_combine(combine_2006, "QB")), pass_stats_grouped)
final_2005 = get_final_df(combine_draft_and_combine(draft_2005, clean_combine(combine_2005, "QB")), pass_stats_grouped)
final_2004 = get_final_df(combine_draft_and_combine(draft_2004, clean_combine(combine_2004, "QB")), pass_stats_grouped)
final_2003 = get_final_df(combine_draft_and_combine(draft_2003, clean_combine(combine_2003, "QB")), pass_stats_grouped)
final_2002 = get_final_df(combine_draft_and_combine(draft_2002, clean_combine(combine_2002, "QB")), pass_stats_grouped)
final_2001 = get_final_df(combine_draft_and_combine(draft_2001, clean_combine(combine_2001, "QB")), pass_stats_grouped)
final_2000 = get_final_df(combine_draft_and_combine(draft_2000, clean_combine(combine_2000, "QB")), pass_stats_grouped)
final_1999 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, "QB")), pass_stats_grouped)
final_1998 = get_final_df(combine_draft_and_combine90s(draft_1998, clean_combine90s(combine_1998, "QB")), pass_stats_grouped)
final_1997 = get_final_df(combine_draft_and_combine90s(draft_1997, clean_combine90s(combine_1997, "QB")), pass_stats_grouped)
final_1996 = get_final_df(combine_draft_and_combine90s(draft_1996, clean_combine90s(combine_1996, "QB")), pass_stats_grouped)
final_1995 = get_final_df(combine_draft_and_combine90s(draft_1995, clean_combine90s(combine_1995, "QB")), pass_stats_grouped)
final_1994 = get_final_df(combine_draft_and_combine90s(draft_1994, clean_combine90s(combine_1994, "QB")), pass_stats_grouped)
final_1993 = get_final_df(combine_draft_and_combine90s(draft_1993, clean_combine90s(combine_1993, "QB")), pass_stats_grouped)

In [23]:
# reading in data for response variable
points_1993 = pd.read_csv('yearly/1993.csv')
points_1994 = pd.read_csv('yearly/1994.csv')
points_1995 = pd.read_csv('yearly/1995.csv')
points_1996 = pd.read_csv('yearly/1996.csv')
points_1997 = pd.read_csv('yearly/1997.csv')
points_1998 = pd.read_csv('yearly/1998.csv')
points_1999 = pd.read_csv('yearly/1999.csv')
points_2000 = pd.read_csv('yearly/2000.csv')
points_2001 = pd.read_csv('yearly/2001.csv')
points_2002 = pd.read_csv('yearly/2002.csv')
points_2003 = pd.read_csv('yearly/2003.csv')
points_2004 = pd.read_csv('yearly/2004.csv')
points_2005 = pd.read_csv('yearly/2005.csv')
points_2006 = pd.read_csv('yearly/2006.csv')
points_2007 = pd.read_csv('yearly/2007.csv')
points_2008 = pd.read_csv('yearly/2008.csv')
points_2009 = pd.read_csv('yearly/2009.csv')
points_2010 = pd.read_csv('yearly/2010.csv')
points_2011 = pd.read_csv('yearly/2011.csv')
points_2012 = pd.read_csv('yearly/2012.csv')
points_2013 = pd.read_csv('yearly/2013.csv')
points_2014 = pd.read_csv('yearly/2014.csv')
points_2015 = pd.read_csv('yearly/2015.csv')
points_2016 = pd.read_csv('yearly/2016.csv')
points_2017 = pd.read_csv('yearly/2017.csv')
points_2018 = pd.read_csv('yearly/2018.csv')
points_2019 = pd.read_csv('yearly/2019.csv')
points_2020 = pd.read_csv('yearly/2020.csv')
points_2021 = pd.read_csv('yearly/2021.csv')

points_1993['Year'] = 1993
points_1994['Year'] = 1994
points_1995['Year'] = 1995
points_1996['Year'] = 1996
points_1997['Year'] = 1997
points_1998['Year'] = 1998
points_1999['Year'] = 1999
points_2000['Year'] = 2000
points_2001['Year'] = 2001
points_2002['Year'] = 2002
points_2003['Year'] = 2003
points_2004['Year'] = 2004
points_2005['Year'] = 2005
points_2006['Year'] = 2006
points_2007['Year'] = 2007
points_2008['Year'] = 2008
points_2009['Year'] = 2009
points_2010['Year'] = 2010
points_2011['Year'] = 2011
points_2012['Year'] = 2012
points_2013['Year'] = 2013
points_2014['Year'] = 2014
points_2015['Year'] = 2015
points_2016['Year'] = 2016
points_2017['Year'] = 2017
points_2018['Year'] = 2018
points_2019['Year'] = 2019
points_2020['Year'] = 2020
points_2021['Year'] = 2021

In [24]:
# concatenating dfs
points_full = pd.concat([points_1993, points_1994, points_1995, points_1996, points_1997, points_1998, points_1999, points_2000, points_2001, points_2002, points_2003, points_2004, points_2005, points_2006, points_2007, points_2008, points_2009,
                        points_2010, points_2011, points_2012, points_2013, points_2014, points_2015, points_2016, points_2017, points_2018, points_2019, points_2020, points_2021])

# removing characters
points_full['Player'] = points_full['Player'].str.replace("*","")
points_full['Player'] = points_full['Player'].str.replace("+","")

# creating primary key

# creating response variable
points_full['PPRPoints'] = points_full['Rec'] + (points_full['PassingYds']*.04) + (points_full['PassingTD']*4) + (points_full['RushingTD']*6) + (points_full['ReceivingTD']*6) + (points_full['RushingYds']*.1) + (points_full['ReceivingYds']*.1) - (points_full['FumblesLost']*2) - (points_full['Int']*2)

In [25]:
points_full_qb = points_full[points_full['Pos']=='QB'].copy()
points_full_qb.head()

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,...,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints
2,2.0,Steve Young,SFO,QB,32.0,16.0,16.0,2.0,2.0,4023.0,...,2.0,69.0,2.0,0.0,283.82,16.0,8.0,0.0,1993,299.82
8,8.0,John Elway,DEN,QB,33.0,16.0,16.0,0.0,0.0,4030.0,...,0.0,44.0,0.0,0.0,240.50,10.0,8.0,0.0,1993,256.50
23,23.0,Jeff Hostetler,RAI,QB,32.0,15.0,15.0,1.0,0.0,3242.0,...,5.0,55.0,0.0,0.0,203.88,10.0,6.0,0.0,1993,215.88
33,33.0,Warren Moon,HOU,QB,37.0,15.0,14.0,0.0,0.0,3485.0,...,1.0,48.0,0.0,0.0,175.90,21.0,13.0,0.0,1993,201.90
41,41.0,Boomer Esiason,NYJ,QB,32.0,16.0,16.0,1.0,1.0,3421.0,...,1.0,45.0,-8.0,0.0,170.84,11.0,13.0,0.0,1993,196.84

In [26]:
points_full_qb.to_csv('qb_points_full.csv')

In [27]:
points_full_qb['PK'] = points_full_qb['Player'] + "+" + points_full_qb['Tm']
points_full_qb = points_full_qb[points_full_qb['G']>3]

In [28]:
def get_fy(pk):
    """Function to determine the first year a player was in the NFL"""
    a = points_full_qb.loc[points_full_qb['PK']==f'{pk}']
    b = min(a['Year'])
    return b

In [29]:
pk_list = []
for index, row in points_full_qb.iterrows():
    pk_list.append(row['PK'])

In [30]:
# creating a list of the first year each player played 
year_list = []
for x in pk_list:
    year_list.append(str(get_fy(f"{x}")))

In [31]:
points_full_qb = points_full_qb.copy()
points_full_qb['first_year'] = year_list
points_full_qb.head()
points_full_qb['PK2'] = points_full_qb['Player'].str.lower()+"+"+points_full_qb['first_year']
points_full_qb_grouped = points_full_qb.groupby('PK2').sum()
points_full_qb_grouped['PPG'] = points_full_qb_grouped['PPRPoints']/points_full_qb_grouped['G']
points_full_qb_grouped['PK'] = points_full_qb_grouped.index
points_full_qb_grouped[points_full_qb_grouped['PK']=="joe burrow+2020"]

,Unnamed: 0,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,...,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints,PPG,PK
PK2,,,,,,,,,,,,,,,,,,,,,
joe burrow+2020,28.0,49.0,26.0,26.0,0.0,0.0,7299.0,47.0,924.0,260.0,...,0.0,0.0,488.0,19.0,14.0,6.0,4041,485.96,18.690769,joe burrow+2020

In [32]:
# calculating quantiles for response variable
q90 = points_full_qb_grouped.PPG.quantile(.90)
q75 = points_full_qb_grouped.PPG.quantile(.75)
q50 = points_full_qb_grouped.PPG.quantile(.50)
q25 = points_full_qb_grouped.PPG.quantile(.25)
q90

14.781081081081084

In [33]:
# creating response column. Players in the top 10% are considered stars, top 25% good starters, top 50% borderline starters, and bottom 25% not playing
response = []
for x in points_full_qb_grouped['PPG']:
    if x >= q90:
        response.append(1)
    elif x >= q75:
        response.append(2)
    elif x >= q25:
        response.append(3)
    else:
        response.append(4)

In [34]:
# setting response column
points_full_qb_grouped['response'] = response

In [35]:
# saving df
points_full_qb_grouped.to_csv('qbpoints.csv')

In [36]:
#checking info
points_full_qb_grouped[points_full_qb_grouped['PK'].str.contains('manning')]

,Unnamed: 0,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,...,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints,PPG,PK,response
PK2,,,,,,,,,,,,,,,,,,,,,
eli manning+2004,1389.0,488.0,236.0,234.0,0.0,0.0,57023.0,366.0,8119.0,567.0,...,0.0,3241.62,244.0,125.0,57.0,32184,3241.62,13.735678,eli manning+2004,2
peyton manning+1998,329.0,364.0,208.0,208.0,1.0,1.0,54828.0,399.0,7210.0,722.0,...,0.0,3530.12,198.0,57.0,19.0,26052,3530.12,16.971731,peyton manning+1998,1
peyton manning+2012,188.0,150.0,58.0,57.0,0.0,0.0,17112.0,140.0,2170.0,-55.0,...,0.0,1118.98,53.0,20.0,10.0,8054,1118.98,19.292759,peyton manning+2012,1

In [40]:
# creating final features df
final_features = pd.concat([final_1993, final_1994, final_1995, final_1996, final_1997, final_1998, final_1999, final_2000, final_2001, final_2002, final_2003, final_2004, final_2005, final_2006,
                           final_2007, final_2008, final_2009, final_2010, final_2010, final_2011, final_2012, final_2013, final_2014, final_2015, final_2016, final_2017, final_2018, final_2019, final_2020,final_2021, final_2022])

In [41]:
# creating df for use in next step
qb_final = final_features.merge(points_full_qb_grouped[['PK', 'response']], how='left', on='PK')
qb_final.shape

(363, 37)

In [43]:
# saving df
qb_final.to_csv('qb_final.csv')