In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing draft data
draft_2021 = pd.read_csv('draft_data/2021.csv')
draft_2020 = pd.read_csv('draft_data/2020.csv')
draft_2019 = pd.read_csv('draft_data/2019.csv')
draft_2018 = pd.read_csv('draft_data/2018.csv')
draft_2017 = pd.read_csv('draft_data/2017.csv')
draft_2016 = pd.read_csv('draft_data/2016.csv')
draft_2015 = pd.read_csv('draft_data/2015.csv')
draft_2014 = pd.read_csv('draft_data/2014.csv')
draft_2013 = pd.read_csv('draft_data/2013.csv')
draft_2012 = pd.read_csv('draft_data/2012.csv')
draft_2011 = pd.read_csv('draft_data/2011.csv')
draft_2010 = pd.read_csv('draft_data/2010.csv')
draft_2009 = pd.read_csv('draft_data/2009.csv')
draft_2008 = pd.read_csv('draft_data/2008.csv')
draft_2007 = pd.read_csv('draft_data/2007.csv')
draft_2006 = pd.read_csv('draft_data/2006.csv')
draft_2005 = pd.read_csv('draft_data/2005.csv')
draft_2004 = pd.read_csv('draft_data/2004.csv')
draft_2003 = pd.read_csv('draft_data/2003.csv')
draft_2002 = pd.read_csv('draft_data/2002.csv')
draft_2001 = pd.read_csv('draft_data/2001.csv')
draft_2000 = pd.read_csv('draft_data/2000.csv')
draft_1999 = pd.read_csv('draft_data/1999.csv')
draft_1998 = pd.read_csv('draft_data/1998.csv')
draft_1997 = pd.read_csv('draft_data/1997.csv')
draft_1996 = pd.read_csv('draft_data/1996.csv')
draft_1995 = pd.read_csv('draft_data/1995.csv')
draft_1994 = pd.read_csv('draft_data/1994.csv')
draft_1993 = pd.read_csv('draft_data/1993.csv')

In [3]:
# adding a year column to draft dfs
draft_2021['Year'] = 2021
draft_2020['Year'] = 2020
draft_2019['Year'] = 2019
draft_2018['Year'] = 2018
draft_2017['Year'] = 2017
draft_2016['Year'] = 2016
draft_2015['Year'] = 2015
draft_2014['Year'] = 2014
draft_2013['Year'] = 2013
draft_2012['Year'] = 2012
draft_2011['Year'] = 2011
draft_2010['Year'] = 2010
draft_2009['Year'] = 2009
draft_2008['Year'] = 2008
draft_2007['Year'] = 2007
draft_2006['Year'] = 2006
draft_2005['Year'] = 2005
draft_2004['Year'] = 2004
draft_2003['Year'] = 2003
draft_2002['Year'] = 2002
draft_2001['Year'] = 2001
draft_2000['Year'] = 2000
draft_1999['Year'] = 1999
draft_1998['Year'] = 1998
draft_1997['Year'] = 1997
draft_1996['Year'] = 1996
draft_1995['Year'] = 1995
draft_1994['Year'] = 1994
draft_1993['Year'] = 1993

In [4]:
# read in combine data
combine_2021 = pd.read_csv('combine_data/2021.csv')
combine_2020 = pd.read_csv('combine_data/2020.csv')
combine_2019 = pd.read_csv('combine_data/2019.csv')
combine_2018 = pd.read_csv('combine_data/2018.csv')
combine_2017 = pd.read_csv('combine_data/2017.csv')
combine_2016 = pd.read_csv('combine_data/2016.csv')
combine_2015 = pd.read_csv('combine_data/2015.csv')
combine_2014 = pd.read_csv('combine_data/2014.csv')
combine_2013 = pd.read_csv('combine_data/2013.csv')
combine_2012 = pd.read_csv('combine_data/2012.csv')
combine_2011 = pd.read_csv('combine_data/2011.csv')
combine_2010 = pd.read_csv('combine_data/2010.csv')
combine_2009 = pd.read_csv('combine_data/2009.csv')
combine_2008 = pd.read_csv('combine_data/2008.csv')
combine_2007 = pd.read_csv('combine_data/2007.csv')
combine_2006 = pd.read_csv('combine_data/2006.csv')
combine_2005 = pd.read_csv('combine_data/2005.csv')
combine_2004 = pd.read_csv('combine_data/2004.csv')
combine_2003 = pd.read_csv('combine_data/2003.csv')
combine_2002 = pd.read_csv('combine_data/2002.csv')
combine_2001 = pd.read_csv('combine_data/2001.csv')
combine_2000 = pd.read_csv('combine_data/2000.csv')
combine_1999 = pd.read_csv('combine_results/1999.csv')
combine_1998 = pd.read_csv('combine_results/1998.csv')
combine_1997 = pd.read_csv('combine_results/1997.csv')
combine_1996 = pd.read_csv('combine_results/1996.csv')
combine_1995 = pd.read_csv('combine_results/1995.csv')
combine_1994 = pd.read_csv('combine_results/1994.csv')
combine_1993 = pd.read_csv('combine_results/1993.csv')

In [5]:
combine_2021['Year'] = 2021
combine_2020['Year'] = 2020
combine_2019['Year'] = 2019
combine_2018['Year'] = 2018
combine_2017['Year'] = 2017
combine_2016['Year'] = 2016
combine_2015['Year'] = 2015
combine_2014['Year'] = 2014
combine_2013['Year'] = 2013
combine_2012['Year'] = 2012
combine_2011['Year'] = 2011
combine_2010['Year'] = 2010
combine_2009['Year'] = 2009
combine_2008['Year'] = 2008
combine_2007['Year'] = 2007
combine_2006['Year'] = 2006
combine_2005['Year'] = 2005
combine_2004['Year'] = 2004
combine_2003['Year'] = 2003
combine_2002['Year'] = 2002
combine_2001['Year'] = 2001
combine_2000['Year'] = 2000
combine_1999['Year'] = 1999
combine_1998['Year'] = 1998
combine_1997['Year'] = 1997
combine_1996['Year'] = 1996
combine_1995['Year'] = 1995
combine_1994['Year'] = 1994
combine_1993['Year'] = 1993

In [6]:
# read in receiving data
receiving_2021 = pd.read_csv('receiving/2021.csv')
receiving_2020 = pd.read_csv('receiving/2020.csv')
receiving_2019 = pd.read_csv('receiving/2019.csv')
receiving_2018 = pd.read_csv('receiving/2018.csv')
receiving_2017 = pd.read_csv('receiving/2017.csv')
receiving_2016 = pd.read_csv('receiving/2016.csv')
receiving_2015 = pd.read_csv('receiving/2015.csv')
receiving_2014 = pd.read_csv('receiving/2014.csv')
receiving_2013 = pd.read_csv('receiving/2013.csv')
receiving_2012 = pd.read_csv('receiving/2012.csv')
receiving_2011 = pd.read_csv('receiving/2011.csv')
receiving_2010 = pd.read_csv('receiving/2010.csv')
receiving_2009 = pd.read_csv('receiving/2009.csv')
receiving_2008 = pd.read_csv('receiving/2008.csv')
receiving_2007 = pd.read_csv('receiving/2007.csv')
receiving_2006 = pd.read_csv('receiving/2006.csv')
receiving_2005 = pd.read_csv('receiving/2005.csv')
receiving_2004 = pd.read_csv('receiving/2004.csv')
receiving_2003 = pd.read_csv('receiving/2003.csv')
receiving_2002 = pd.read_csv('receiving/2002.csv')
receiving_2001 = pd.read_csv('receiving/2001.csv')
receiving_2000 = pd.read_csv('receiving/2000.csv')
receiving_1999 = pd.read_csv('receiving/1999.csv')
receiving_1998 = pd.read_csv('receiving/1998.csv')
receiving_1997 = pd.read_csv('receiving/1997.csv')
receiving_1996 = pd.read_csv('receiving/1996.csv')
receiving_1995 = pd.read_csv('receiving/1995.csv')
receiving_1994 = pd.read_csv('receiving/1994.csv')
receiving_1993 = pd.read_csv('receiving/1993.csv')
receiving_1992 = pd.read_csv('receiving/1992.csv')
receiving_1991 = pd.read_csv('receiving/1991.csv')

In [7]:
receiving_2021['Year'] = 2021
receiving_2020['Year'] = 2020
receiving_2019['Year'] = 2019
receiving_2018['Year'] = 2018
receiving_2017['Year'] = 2017
receiving_2016['Year'] = 2016
receiving_2015['Year'] = 2015
receiving_2014['Year'] = 2014
receiving_2013['Year'] = 2013
receiving_2012['Year'] = 2012
receiving_2011['Year'] = 2011
receiving_2010['Year'] = 2010
receiving_2009['Year'] = 2009
receiving_2008['Year'] = 2008
receiving_2007['Year'] = 2007
receiving_2006['Year'] = 2006
receiving_2005['Year'] = 2005
receiving_2004['Year'] = 2004
receiving_2003['Year'] = 2003
receiving_2002['Year'] = 2002
receiving_2001['Year'] = 2001
receiving_2000['Year'] = 2000
receiving_1999['Year'] = 1999
receiving_1998['Year'] = 1998
receiving_1997['Year'] = 1997
receiving_1996['Year'] = 1996
receiving_1995['Year'] = 1995
receiving_1994['Year'] = 1994
receiving_1993['Year'] = 1993
receiving_1992['Year'] = 1992
receiving_1991['Year'] = 1991

In [8]:
def clean_combine(combine_full, position):
    combine_full = combine_full[combine_full['Position']==f'{position}']
    combine_full = combine_full[combine_full['Year'].notna()].copy()
    combine_full = combine_full.reset_index(drop=True)
    combine_full['Year'] = combine_full['Year'].astype(int)
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['Player'] = combine_full['Player'].str.lower()
    combine_full['Drafted'] = combine_full['Drafted'].str.split("/")
    combine_full['Round'] = combine_full['Drafted'].str[1]
    combine_full['Pick'] = combine_full['Drafted'].str[2]
    combine_full['Pick'] = combine_full['Pick'].str.replace("th pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("rd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("nd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("st pick","")

    combine_full['Round'] = combine_full['Round'].str.replace("th","")
    combine_full['Round'] = combine_full['Round'].str.replace("rd","")
    combine_full['Round'] = combine_full['Round'].str.replace("nd","")
    combine_full['Round'] = combine_full['Round'].str.replace("st","")

    combine_full['Pick'] = combine_full['Pick'].astype('int32')
    combine_full['Round'] = combine_full['Round'].astype('int32')
    # converting height to inches
    combine_full = combine_full[combine_full['Height'].notnull()]
    combine_full['Height'] = combine_full['Height'].str.split("-")
    combine_full['Feet'] = combine_full['Height'].str[0]
    combine_full['Inches'] = combine_full['Height'].str[1]
    combine_full['Feet'] = combine_full['Feet'].astype('int')
    combine_full['Inches'] = combine_full['Inches'].astype('int')
    combine_full['Height (in)'] = combine_full['Feet']*12 + combine_full['Inches']

    combine_full = combine_full.drop(columns=['College', 'Height', 'Bench', 'Broad Jump', 'Drafted', 'Feet', 'Inches'])
    
    return combine_full

In [9]:
combine_2021 = clean_combine(combine_2021, 'WR')

In [10]:
combine_2021.head()

,Player,Position,School,Weight,40 Time,Vertical Jump,3 Cone,Shuttle,Year,Round,Pick,Height (in)
0,tutu atwell,WR,Louisville,155.0,4.42,33.0,6.89,4.14,2021,2,57,68
1,rashod bateman,WR,Minnesota,190.0,4.39,36.0,NaN,NaN,2021,1,27,72
2,dyami brown,WR,North Carolina,189.0,4.46,35.0,6.87,4.35,2021,3,82,72
3,amon-ra st. brown,WR,USC,197.0,4.51,38.5,6.88,4.17,2021,4,112,71
4,ja'marr chase,WR,LSU,201.0,4.34,41.0,6.96,3.99,2021,1,5,72

In [11]:
draft_2021.head()

   Round  Pick Team           Player Position  Age            School  Year
0      1     1  JAX  Trevor Lawrence       QB   21           Clemson  2021
1      1     2  NYJ      Zach Wilson       QB   22               BYU  2021
2      1     3  SFO       Trey Lance       QB   21  North Dakota St.  2021
3      1     4  ATL       Kyle Pitts       TE   20           Florida  2021
4      1     5  CIN    Ja'Marr Chase       WR   21               LSU  2021

In [12]:
# combining college receiving stats df
rec_list = [receiving_2021, receiving_2020, receiving_2019, receiving_2018, receiving_2017, receiving_2016, receiving_2015, receiving_2014, receiving_2013, receiving_2012, receiving_2011,
            receiving_2010, receiving_2009, receiving_2008, receiving_2007, receiving_2006, receiving_2005, receiving_2004, receiving_2003, receiving_2002, receiving_2001, receiving_2000,
            receiving_1999, receiving_1998, receiving_1997, receiving_1996, receiving_1995, receiving_1994, receiving_1993, receiving_1992, receiving_1991]

rec_stats = pd.concat(rec_list)

rec_stats

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year
0,1,Trea Shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021
1,2,Tyrese Chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021
2,3,Marvin Mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021
3,4,Dontayvion Wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021
4,5,Isaiah Neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,275,Curt Zipfel,Northwestern,Big Ten,11.0,22,138,6.3,1,55.0,158.0,2.9,1.0,77,296,3.8,2,1991
275,276,Corey Croom,Ball State,MAC,11.0,34,211,6.2,0,291.0,1053.0,3.6,8.0,325,1264,3.9,8,1991
276,277,Lorenzo Neal,Fresno State,Big West,12.0,25,155,6.2,1,195.0,837.0,4.3,8.0,220,992,4.5,9,1991
277,278,Harold Dennis,Tulane,Ind,11.0,21,130,6.2,0,79.0,300.0,3.8,2.0,100,430,4.3,2,1991
278,279,Ted Gregory,Kent State,MAC,11.0,23,137,6.0,0,86.0,231.0,2.7,1.0,109,368,3.4,1,1991

In [13]:
rec_stats['Player'] = rec_stats['Player'].str.lower()
rec_stats['PK1'] = rec_stats['Player']+"+"+rec_stats['School']
rec_stats['Last_Year'] = np.nan
    
rec_stats

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
0,1,trea shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021,trea shropshire+UAB,NaN
1,2,tyrese chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021,tyrese chambers+Florida International,NaN
2,3,marvin mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021,marvin mims+Oklahoma,NaN
3,4,dontayvion wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021,dontayvion wicks+Virginia,NaN
4,5,isaiah neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021,isaiah neyor+Wyoming,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,275,curt zipfel,Northwestern,Big Ten,11.0,22,138,6.3,1,55.0,158.0,2.9,1.0,77,296,3.8,2,1991,curt zipfel+Northwestern,NaN
275,276,corey croom,Ball State,MAC,11.0,34,211,6.2,0,291.0,1053.0,3.6,8.0,325,1264,3.9,8,1991,corey croom+Ball State,NaN
276,277,lorenzo neal,Fresno State,Big West,12.0,25,155,6.2,1,195.0,837.0,4.3,8.0,220,992,4.5,9,1991,lorenzo neal+Fresno State,NaN
277,278,harold dennis,Tulane,Ind,11.0,21,130,6.2,0,79.0,300.0,3.8,2.0,100,430,4.3,2,1991,harold dennis+Tulane,NaN
278,279,ted gregory,Kent State,MAC,11.0,23,137,6.0,0,86.0,231.0,2.7,1.0,109,368,3.4,1,1991,ted gregory+Kent State,NaN

In [14]:
rec_stats = rec_stats[rec_stats['RecYds']>=rec_stats['RushYds']].copy()

In [15]:
rec_stats.loc[rec_stats['PK1']=='marvin mims+Oklahoma']

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
2,3,marvin mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021,marvin mims+Oklahoma,NaN
63,64,marvin mims,Oklahoma,Big 12,11.0,37,610,16.5,9,2.0,17.0,8.5,0.0,39,627,16.1,9,2020,marvin mims+Oklahoma,NaN

In [16]:
def get_ly(pk):
    """Function to determine the last year a player played in college"""
    a = rec_stats.loc[rec_stats['PK1']==f'{pk}']
    b = max(a['Year'])
    return b

get_ly('ronnell kayhill+Missouri')

1992

In [17]:
# creating a list for use in the next step
pk_list = []
for index, row in rec_stats.iterrows():
    pk_list.append(row['PK1'])
    
pk_list[:5]

['trea shropshire+UAB',
 'tyrese chambers+Florida International',
 'marvin mims+Oklahoma',
 'dontayvion wicks+Virginia',
 'isaiah neyor+Wyoming']

In [18]:
# creating a list of the last year each player played 
year_list = []
for x in pk_list:
    year_list.append(get_ly(f"{x}"))

In [19]:
# adding year column to df
rec_stats['Last_Year'] = year_list
rec_stats.head()

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
0,1,trea shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021,trea shropshire+UAB,2021
1,2,tyrese chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021,tyrese chambers+Florida International,2021
2,3,marvin mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021,marvin mims+Oklahoma,2021
3,4,dontayvion wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021,dontayvion wicks+Virginia,2021
4,5,isaiah neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021,isaiah neyor+Wyoming,2021

In [20]:
rec_stats['Year'] = rec_stats['Year'].astype(str)
rec_stats['PK1'] = rec_stats['Player']+ "+" +rec_stats['School']
rec_stats.head()

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
0,1,trea shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021,trea shropshire+UAB,2021
1,2,tyrese chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021,tyrese chambers+Florida International,2021
2,3,marvin mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021,marvin mims+Oklahoma,2021
3,4,dontayvion wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021,dontayvion wicks+Virginia,2021
4,5,isaiah neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021,isaiah neyor+Wyoming,2021

In [21]:
# drop categorical variables, and last_year (since we don't want to sum this one)
rec_stats1 = rec_stats.drop(columns=['Player', 'School', 'Conf', 'Rk', "Last_Year"])

In [22]:
# grouping stats by player
rec_stats_grouped = rec_stats1.groupby(by='PK1').sum()
rec_stats_grouped.head()

,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs
PK1,,,,,,,,,,,,,
'omar ellison+Florida State,11.0,32,506,15.8,2,5.0,28.0,5.6,0.0,37,534,14.4,2
a.j. bennett+Eastern Michigan,22.0,96,941,20.4,6,9.0,24.0,8.4,1.0,105,965,19.4,7
a.j. brown+Ole Miss,34.0,189,2984,46.4,19,0.0,0.0,0.0,0.0,189,2984,46.4,19
a.j. butler+New Mexico,7.0,32,213,6.7,0,50.0,177.0,3.5,1.0,82,390,4.8,1
a.j. coney+Akron,14.0,43,551,12.8,3,0.0,0.0,0.0,0.0,43,551,12.8,3

In [23]:
# adding a yards per game column
rec_stats_grouped['YPG'] = rec_stats_grouped['RecYds'] / rec_stats_grouped['G']
rec_stats_grouped = rec_stats_grouped.merge(rec_stats.drop_duplicates(subset=['PK1'])[['PK1', 'Last_Year', 'Conf']], on='PK1', how='left')

In [24]:
# fixing averages
rec_stats_grouped['RecAvg'] = rec_stats_grouped['RecYds'] / rec_stats_grouped['Rec']
rec_stats_grouped['RushAvg'] = rec_stats_grouped['RushYds'] / rec_stats_grouped['RushAtt']
rec_stats_grouped['YardsPerPlay'] = rec_stats_grouped['TotalYds'] / rec_stats_grouped['Plays']
rec_stats_grouped['year_drafted'] = rec_stats_grouped['Last_Year']+1
rec_stats_grouped['year_drafted'] = rec_stats_grouped['year_drafted'].astype(str)
rec_stats_grouped.head()

,PK1,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Last_Year,Conf,year_drafted
0,'omar ellison+Florida State,11.0,32,506,15.812500,2,5.0,28.0,5.600000,0.0,37,534,14.432432,2,46.000000,1994,ACC,1995
1,a.j. bennett+Eastern Michigan,22.0,96,941,9.802083,6,9.0,24.0,2.666667,1.0,105,965,9.190476,7,42.772727,2005,MAC,2006
2,a.j. brown+Ole Miss,34.0,189,2984,15.788360,19,0.0,0.0,NaN,0.0,189,2984,15.788360,19,87.764706,2018,SEC,2019
3,a.j. butler+New Mexico,7.0,32,213,6.656250,0,50.0,177.0,3.540000,1.0,82,390,4.756098,1,30.428571,2009,MWC,2010
4,a.j. coney+Akron,14.0,43,551,12.813953,3,0.0,0.0,NaN,0.0,43,551,12.813953,3,39.357143,2017,MAC,2018

In [25]:
rec_stats_grouped['PK'] = rec_stats_grouped['PK1'].str.split("+").str[0]+"+"+rec_stats_grouped['year_drafted']
rec_stats_grouped.head()

,PK1,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Last_Year,Conf,year_drafted,PK
0,'omar ellison+Florida State,11.0,32,506,15.812500,2,5.0,28.0,5.600000,0.0,37,534,14.432432,2,46.000000,1994,ACC,1995,'omar ellison+1995
1,a.j. bennett+Eastern Michigan,22.0,96,941,9.802083,6,9.0,24.0,2.666667,1.0,105,965,9.190476,7,42.772727,2005,MAC,2006,a.j. bennett+2006
2,a.j. brown+Ole Miss,34.0,189,2984,15.788360,19,0.0,0.0,NaN,0.0,189,2984,15.788360,19,87.764706,2018,SEC,2019,a.j. brown+2019
3,a.j. butler+New Mexico,7.0,32,213,6.656250,0,50.0,177.0,3.540000,1.0,82,390,4.756098,1,30.428571,2009,MWC,2010,a.j. butler+2010
4,a.j. coney+Akron,14.0,43,551,12.813953,3,0.0,0.0,NaN,0.0,43,551,12.813953,3,39.357143,2017,MAC,2018,a.j. coney+2018

In [44]:
rec_stats_grouped.loc[rec_stats_grouped['PK'].str.contains('chase')]

,PK1,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Last_Year,Conf,year_drafted,PK
677,chase allen+Iowa State,10.0,26,284,10.923077,2,0.0,0.0,NaN,0.0,26,284,10.923077,2,28.400000,2021,Big 12,2022,chase allen+2022
678,chase claypool+Notre Dame,37.0,145,2078,14.331034,19,2.0,-3.0,-1.5,0.0,147,2075,14.115646,19,56.162162,2019,Ind,2020,chase claypool+2020
679,chase cochran+Ohio,12.0,37,689,18.621622,4,1.0,4.0,4.0,0.0,38,693,18.236842,4,57.416667,2013,MAC,2014,chase cochran+2014
680,chase coffman+Missouri,13.0,52,531,10.211538,7,1.0,8.0,8.0,0.0,53,539,10.169811,7,40.846154,2007,Big 12,2008,chase coffman+2008
681,chase cota+UCLA,11.0,25,350,14.000000,3,0.0,0.0,NaN,0.0,25,350,14.000000,3,31.818182,2019,Pac-12,2020,chase cota+2020
682,chase harrell+Kansas,10.0,25,221,8.840000,3,0.0,0.0,NaN,0.0,25,221,8.840000,3,22.100000,2017,Big 12,2018,chase harrell+2018
683,chase lane+Texas A&M,10.0,29,409,14.103448,2,0.0,0.0,NaN,0.0,29,409,14.103448,2,40.900000,2020,SEC,2021,chase lane+2021
1823,ja'marr chase+LSU,14.0,84,1780,21.190476,20,1.0,5.0,5.0,0.0,85,1785,21.000000,20,127.142857,2019,SEC,2020,ja'marr chase+2020
3929,t.j. chase+Florida Atlantic,8.0,23,334,14.521739,2,0.0,0.0,NaN,0.0,23,334,14.521739,2,41.750000,2020,CUSA,2021,t.j. chase+2021

In [39]:
def combine_draft_and_combine(df1, df2):
    """Function for combining the draft order and combine data
    df1 refers to the draft dataframe, df2 is combine. This function only works for 2000-present"""
    df1 = df1[df1['Position']=='WR']
    a = df1.merge(df2, how='left', on='Pick')
    a = a.drop(columns=['Player_y', 'Position_y','School_y','Year_y', 'Round_y'])
    a.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)']
    a['Year'] = a['Year'].astype(str)
    a['PK'] = a['Player'] + "+" + a['Year']
    a['PK'] = a['PK'].str.lower()
    return a

In [40]:
merged_2021 = combine_draft_and_combine(draft_2021, combine_2021)
merged_2021.head()

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,Vertical Jump,3 Cone,Shuttle,Height (in),PK
0,1,5,CIN,Ja'Marr Chase,WR,21,LSU,2021,201.0,4.34,41.0,6.96,3.99,72.0,ja'marr chase+2021
1,1,6,MIA,Jaylen Waddle,WR,22,Alabama,2021,NaN,NaN,NaN,NaN,NaN,NaN,jaylen waddle+2021
2,1,10,PHI,DeVonta Smith,WR,22,Alabama,2021,NaN,NaN,NaN,NaN,NaN,NaN,devonta smith+2021
3,1,20,NYG,Kadarius Toney,WR,22,Florida,2021,193.0,4.39,39.5,6.88,4.25,71.0,kadarius toney+2021
4,1,27,BAL,Rashod Bateman,WR,21,Minnesota,2021,190.0,4.39,36.0,NaN,NaN,72.0,rashod bateman+2021

In [41]:
def get_final_df(df1, df2):
    a = df1.merge(df2[['G', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs', 'YPG', 'Conf',"PK"]], on='PK', how='left')
    return a

In [42]:
final_2021 = get_final_df(merged_2021, rec_stats_grouped)

In [43]:
final_2021.head()

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,...,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Conf
0,1,5,CIN,Ja'Marr Chase,WR,21,LSU,2021,201.0,4.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6,MIA,Jaylen Waddle,WR,22,Alabama,2021,NaN,NaN,...,4.0,17.0,4.250,0.0,110.0,2016.0,18.327273,17.0,58.794118,SEC
2,1,10,PHI,DeVonta Smith,WR,22,Alabama,2021,NaN,NaN,...,4.0,6.0,1.500,1.0,231.0,3811.0,16.497835,44.0,97.564103,SEC
3,1,20,NYG,Kadarius Toney,WR,22,Florida,2021,193.0,4.39,...,40.0,401.0,10.025,1.0,135.0,1645.0,12.185185,12.0,54.086957,SEC
4,1,27,BAL,Rashod Bateman,WR,21,Minnesota,2021,190.0,4.39,...,0.0,0.0,NaN,0.0,147.0,2395.0,16.292517,19.0,77.258065,Big Ten