In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing draft data
draft_2021 = pd.read_csv('draft_data/2021.csv')
draft_2020 = pd.read_csv('draft_data/2020.csv')
draft_2019 = pd.read_csv('draft_data/2019.csv')
draft_2018 = pd.read_csv('draft_data/2018.csv')
draft_2017 = pd.read_csv('draft_data/2017.csv')
draft_2016 = pd.read_csv('draft_data/2016.csv')
draft_2015 = pd.read_csv('draft_data/2015.csv')
draft_2014 = pd.read_csv('draft_data/2014.csv')
draft_2013 = pd.read_csv('draft_data/2013.csv')
draft_2012 = pd.read_csv('draft_data/2012.csv')
draft_2011 = pd.read_csv('draft_data/2011.csv')
draft_2010 = pd.read_csv('draft_data/2010.csv')
draft_2009 = pd.read_csv('draft_data/2009.csv')
draft_2008 = pd.read_csv('draft_data/2008.csv')
draft_2007 = pd.read_csv('draft_data/2007.csv')
draft_2006 = pd.read_csv('draft_data/2006.csv')
draft_2005 = pd.read_csv('draft_data/2005.csv')
draft_2004 = pd.read_csv('draft_data/2004.csv')
draft_2003 = pd.read_csv('draft_data/2003.csv')
draft_2002 = pd.read_csv('draft_data/2002.csv')
draft_2001 = pd.read_csv('draft_data/2001.csv')
draft_2000 = pd.read_csv('draft_data/2000.csv')
draft_1999 = pd.read_csv('draft_data/1999.csv')
draft_1998 = pd.read_csv('draft_data/1998.csv')
draft_1997 = pd.read_csv('draft_data/1997.csv')
draft_1996 = pd.read_csv('draft_data/1996.csv')
draft_1995 = pd.read_csv('draft_data/1995.csv')
draft_1994 = pd.read_csv('draft_data/1994.csv')
draft_1993 = pd.read_csv('draft_data/1993.csv')

In [3]:
# adding a year column to draft dfs
draft_2021['Year'] = 2021
draft_2020['Year'] = 2020
draft_2019['Year'] = 2019
draft_2018['Year'] = 2018
draft_2017['Year'] = 2017
draft_2016['Year'] = 2016
draft_2015['Year'] = 2015
draft_2014['Year'] = 2014
draft_2013['Year'] = 2013
draft_2012['Year'] = 2012
draft_2011['Year'] = 2011
draft_2010['Year'] = 2010
draft_2009['Year'] = 2009
draft_2008['Year'] = 2008
draft_2007['Year'] = 2007
draft_2006['Year'] = 2006
draft_2005['Year'] = 2005
draft_2004['Year'] = 2004
draft_2003['Year'] = 2003
draft_2002['Year'] = 2002
draft_2001['Year'] = 2001
draft_2000['Year'] = 2000
draft_1999['Year'] = 1999
draft_1998['Year'] = 1998
draft_1997['Year'] = 1997
draft_1996['Year'] = 1996
draft_1995['Year'] = 1995
draft_1994['Year'] = 1994
draft_1993['Year'] = 1993

In [4]:
# read in combine data
combine_2021 = pd.read_csv('combine_data/2021.csv')
combine_2020 = pd.read_csv('combine_data/2020.csv')
combine_2019 = pd.read_csv('combine_data/2019.csv')
combine_2018 = pd.read_csv('combine_data/2018.csv')
combine_2017 = pd.read_csv('combine_data/2017.csv')
combine_2016 = pd.read_csv('combine_data/2016.csv')
combine_2015 = pd.read_csv('combine_data/2015.csv')
combine_2014 = pd.read_csv('combine_data/2014.csv')
combine_2013 = pd.read_csv('combine_data/2013.csv')
combine_2012 = pd.read_csv('combine_data/2012.csv')
combine_2011 = pd.read_csv('combine_data/2011.csv')
combine_2010 = pd.read_csv('combine_data/2010.csv')
combine_2009 = pd.read_csv('combine_data/2009.csv')
combine_2008 = pd.read_csv('combine_data/2008.csv')
combine_2007 = pd.read_csv('combine_data/2007.csv')
combine_2006 = pd.read_csv('combine_data/2006.csv')
combine_2005 = pd.read_csv('combine_data/2005.csv')
combine_2004 = pd.read_csv('combine_data/2004.csv')
combine_2003 = pd.read_csv('combine_data/2003.csv')
combine_2002 = pd.read_csv('combine_data/2002.csv')
combine_2001 = pd.read_csv('combine_data/2001.csv')
combine_2000 = pd.read_csv('combine_data/2000.csv')
combine_1999 = pd.read_csv('combine_results/1999.csv')
combine_1998 = pd.read_csv('combine_results/1998.csv')
combine_1997 = pd.read_csv('combine_results/1997.csv')
combine_1996 = pd.read_csv('combine_results/1996.csv')
combine_1995 = pd.read_csv('combine_results/1995.csv')
combine_1994 = pd.read_csv('combine_results/1994.csv')
combine_1993 = pd.read_csv('combine_results/1993.csv')

In [5]:
combine_2021['Year'] = 2021
combine_2020['Year'] = 2020
combine_2019['Year'] = 2019
combine_2018['Year'] = 2018
combine_2017['Year'] = 2017
combine_2016['Year'] = 2016
combine_2015['Year'] = 2015
combine_2014['Year'] = 2014
combine_2013['Year'] = 2013
combine_2012['Year'] = 2012
combine_2011['Year'] = 2011
combine_2010['Year'] = 2010
combine_2009['Year'] = 2009
combine_2008['Year'] = 2008
combine_2007['Year'] = 2007
combine_2006['Year'] = 2006
combine_2005['Year'] = 2005
combine_2004['Year'] = 2004
combine_2003['Year'] = 2003
combine_2002['Year'] = 2002
combine_2001['Year'] = 2001
combine_2000['Year'] = 2000
combine_1999['Year'] = 1999
combine_1998['Year'] = 1998
combine_1997['Year'] = 1997
combine_1996['Year'] = 1996
combine_1995['Year'] = 1995
combine_1994['Year'] = 1994
combine_1993['Year'] = 1993

In [6]:
# read in receiving data
receiving_2021 = pd.read_csv('receiving/2021.csv')
receiving_2020 = pd.read_csv('receiving/2020.csv')
receiving_2019 = pd.read_csv('receiving/2019.csv')
receiving_2018 = pd.read_csv('receiving/2018.csv')
receiving_2017 = pd.read_csv('receiving/2017.csv')
receiving_2016 = pd.read_csv('receiving/2016.csv')
receiving_2015 = pd.read_csv('receiving/2015.csv')
receiving_2014 = pd.read_csv('receiving/2014.csv')
receiving_2013 = pd.read_csv('receiving/2013.csv')
receiving_2012 = pd.read_csv('receiving/2012.csv')
receiving_2011 = pd.read_csv('receiving/2011.csv')
receiving_2010 = pd.read_csv('receiving/2010.csv')
receiving_2009 = pd.read_csv('receiving/2009.csv')
receiving_2008 = pd.read_csv('receiving/2008.csv')
receiving_2007 = pd.read_csv('receiving/2007.csv')
receiving_2006 = pd.read_csv('receiving/2006.csv')
receiving_2005 = pd.read_csv('receiving/2005.csv')
receiving_2004 = pd.read_csv('receiving/2004.csv')
receiving_2003 = pd.read_csv('receiving/2003.csv')
receiving_2002 = pd.read_csv('receiving/2002.csv')
receiving_2001 = pd.read_csv('receiving/2001.csv')
receiving_2000 = pd.read_csv('receiving/2000.csv')
receiving_1999 = pd.read_csv('receiving/1999.csv')
receiving_1998 = pd.read_csv('receiving/1998.csv')
receiving_1997 = pd.read_csv('receiving/1997.csv')
receiving_1996 = pd.read_csv('receiving/1996.csv')
receiving_1995 = pd.read_csv('receiving/1995.csv')
receiving_1994 = pd.read_csv('receiving/1994.csv')
receiving_1993 = pd.read_csv('receiving/1993.csv')
receiving_1992 = pd.read_csv('receiving/1992.csv')
receiving_1991 = pd.read_csv('receiving/1991.csv')

In [7]:
receiving_2021['Year'] = 2021
receiving_2020['Year'] = 2020
receiving_2019['Year'] = 2019
receiving_2018['Year'] = 2018
receiving_2017['Year'] = 2017
receiving_2016['Year'] = 2016
receiving_2015['Year'] = 2015
receiving_2014['Year'] = 2014
receiving_2013['Year'] = 2013
receiving_2012['Year'] = 2012
receiving_2011['Year'] = 2011
receiving_2010['Year'] = 2010
receiving_2009['Year'] = 2009
receiving_2008['Year'] = 2008
receiving_2007['Year'] = 2007
receiving_2006['Year'] = 2006
receiving_2005['Year'] = 2005
receiving_2004['Year'] = 2004
receiving_2003['Year'] = 2003
receiving_2002['Year'] = 2002
receiving_2001['Year'] = 2001
receiving_2000['Year'] = 2000
receiving_1999['Year'] = 1999
receiving_1998['Year'] = 1998
receiving_1997['Year'] = 1997
receiving_1996['Year'] = 1996
receiving_1995['Year'] = 1995
receiving_1994['Year'] = 1994
receiving_1993['Year'] = 1993
receiving_1992['Year'] = 1992
receiving_1991['Year'] = 1991

In [8]:
def clean_combine(combine_full, position):
    combine_full = combine_full[combine_full['Position']==f'{position}']
    combine_full = combine_full[combine_full['Year'].notna()].copy()
    combine_full = combine_full.reset_index(drop=True)
    combine_full['Year'] = combine_full['Year'].astype(int)
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['Player'] = combine_full['Player'].str.lower()
    combine_full['Drafted'] = combine_full['Drafted'].str.split("/")
    combine_full['Round'] = combine_full['Drafted'].str[1]
    combine_full['Pick'] = combine_full['Drafted'].str[2]
    combine_full['Pick'] = combine_full['Pick'].str.replace("th pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("rd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("nd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("st pick","")

    combine_full['Round'] = combine_full['Round'].str.replace("th","")
    combine_full['Round'] = combine_full['Round'].str.replace("rd","")
    combine_full['Round'] = combine_full['Round'].str.replace("nd","")
    combine_full['Round'] = combine_full['Round'].str.replace("st","")

    combine_full['Pick'] = combine_full['Pick'].astype('int32')
    combine_full['Round'] = combine_full['Round'].astype('int32')
    # converting height to inches
    combine_full = combine_full[combine_full['Height'].notnull()]
    combine_full['Height'] = combine_full['Height'].str.split("-")
    combine_full['Feet'] = combine_full['Height'].str[0]
    combine_full['Inches'] = combine_full['Height'].str[1]
    combine_full['Feet'] = combine_full['Feet'].astype('int')
    combine_full['Inches'] = combine_full['Inches'].astype('int')
    combine_full['Height (in)'] = combine_full['Feet']*12 + combine_full['Inches']

    combine_full = combine_full.drop(columns=['College', 'Height', 'Bench', 'Broad Jump', 'Drafted', 'Feet', 'Inches'])
    
    return combine_full

In [80]:
# combine_2021 = clean_combine(combine_2021, 'WR')
combine_2020.head()

,Player,Position,School,College,Height,Weight,40 Time,Vertical Jump,Bench,Broad Jump,3 Cone,Shuttle,Drafted,Year
0,Hakeem Adeniji,OL,Kansas,College Stats,6-4,302,5.17,34.0,26.0,115.0,NaN,NaN,Cincinnati Bengals / 6th / 180th pick / 2020,2020
1,McTelvin Agim,DL,Arkansas,College Stats,6-3,309,4.98,NaN,27.0,NaN,NaN,NaN,Denver Broncos / 3rd / 95th pick / 2020,2020
2,Brandon Aiyuk,WR,Arizona State,College Stats,6-0,205,4.50,40.0,11.0,128.0,NaN,NaN,San Francisco 49ers / 1st / 25th pick / 2020,2020
3,Cam Akers,RB,Florida State,College Stats,5-10,217,4.47,35.5,20.0,122.0,NaN,4.42,Los Angeles Rams / 2nd / 52nd pick / 2020,2020
4,Bradlee Anae,DL,Utah,College Stats,6-3,257,4.93,31.0,25.0,115.0,7.44,4.43,Dallas Cowboys / 5th / 179th pick / 2020,2020

In [10]:
combine_2021.head()

,Player,Position,School,Weight,40 Time,Vertical Jump,3 Cone,Shuttle,Year,Round,Pick,Height (in)
0,tutu atwell,WR,Louisville,155.0,4.42,33.0,6.89,4.14,2021,2,57,68
1,rashod bateman,WR,Minnesota,190.0,4.39,36.0,NaN,NaN,2021,1,27,72
2,dyami brown,WR,North Carolina,189.0,4.46,35.0,6.87,4.35,2021,3,82,72
3,amon-ra st. brown,WR,USC,197.0,4.51,38.5,6.88,4.17,2021,4,112,71
4,ja'marr chase,WR,LSU,201.0,4.34,41.0,6.96,3.99,2021,1,5,72

In [11]:
draft_2021.head()

   Round  Pick Team           Player Position  Age            School  Year
0      1     1  JAX  Trevor Lawrence       QB   21           Clemson  2021
1      1     2  NYJ      Zach Wilson       QB   22               BYU  2021
2      1     3  SFO       Trey Lance       QB   21  North Dakota St.  2021
3      1     4  ATL       Kyle Pitts       TE   20           Florida  2021
4      1     5  CIN    Ja'Marr Chase       WR   21               LSU  2021

In [82]:
combine_1993.head()

,Year,Name,College,POS,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,1993,Daron Alcorn,Akron,K,74.3,241.0,8.38,31.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993,Arnold Ale,UCLA,OLB,74.4,228.0,8.63,32.38,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN
2,1993,Harold Alexander,Appalachian State (NC),P,74.1,224.0,8.38,31.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,Charmyst Amie,Stephen F. Austin (TX),FS,69.0,193.0,9.13,29.88,NaN,4.60,NaN,34.0,121.0,4.06,NaN,11.35
4,1993,Richie Anderson,Penn State,RB,73.8,220.0,9.00,32.25,NaN,4.56,16.0,35.5,121.0,4.27,NaN,11.60

In [102]:
def clean_combine90s(combine_full, position):
    combine_full = combine_full[combine_full['POS']==f'{position}']
    combine_full = combine_full[combine_full['Year'].notna()].copy()
    combine_full = combine_full.reset_index(drop=True)
    # converting to an integer to remove decimal then to string to concatenate with other fields
    combine_full['Year'] = combine_full['Year'].astype(int)
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['Name'] = combine_full['Name'].str.lower()
    
    combine_full = combine_full.drop(columns=['Hand Size (in)', 'Arm Length (in)', 'Bench Press', '60Yd Shuttle', 'Wonderlic', 'Broad Jump (in)'])
    cols = combine_full.columns.tolist()
    cols = [cols[1]] + [cols[3]] + [cols[2]] + cols[5:8] + [cols[-1]]+ [cols[-2]] + [cols[0]] + [cols[4]]
    combine_full = combine_full[cols]
    combine_full.columns = ['Player', 'Position', 'School', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Year', 'Height (in)']
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['PK'] = combine_full['Player'].str.lower() + "+" + combine_full['Year']
    combine_full['Year'] = combine_full['Year'].astype(int)
    return combine_full

data = clean_combine90s(combine_1993, "WR")
data.head()

,Player,Position,School,Weight,40 Time,Vertical Jump,3 Cone,Shuttle,Year,Height (in),PK
0,stevie anderson,WR,Grambling State (LA),207.0,4.57,35.0,NaN,4.15,1993,76.3,stevie anderson+1993
1,victor bailey,WR,Missouri,196.0,4.57,35.0,NaN,4.16,1993,74.3,victor bailey+1993
2,shannon baker,WR,Florida State,185.0,4.49,35.0,NaN,4.40,1993,69.5,shannon baker+1993
3,jimmy bethea,WR,Tennessee State,198.0,4.73,NaN,NaN,NaN,1993,74.4,jimmy bethea+1993
4,phillip bobo,WR,Washington State,186.0,4.59,27.0,NaN,4.26,1993,70.6,phillip bobo+1993

In [12]:
# combining college receiving stats df
rec_list = [receiving_2021, receiving_2020, receiving_2019, receiving_2018, receiving_2017, receiving_2016, receiving_2015, receiving_2014, receiving_2013, receiving_2012, receiving_2011,
            receiving_2010, receiving_2009, receiving_2008, receiving_2007, receiving_2006, receiving_2005, receiving_2004, receiving_2003, receiving_2002, receiving_2001, receiving_2000,
            receiving_1999, receiving_1998, receiving_1997, receiving_1996, receiving_1995, receiving_1994, receiving_1993, receiving_1992, receiving_1991]

rec_stats = pd.concat(rec_list)

rec_stats

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year
0,1,Trea Shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021
1,2,Tyrese Chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021
2,3,Marvin Mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021
3,4,Dontayvion Wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021
4,5,Isaiah Neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,275,Curt Zipfel,Northwestern,Big Ten,11.0,22,138,6.3,1,55.0,158.0,2.9,1.0,77,296,3.8,2,1991
275,276,Corey Croom,Ball State,MAC,11.0,34,211,6.2,0,291.0,1053.0,3.6,8.0,325,1264,3.9,8,1991
276,277,Lorenzo Neal,Fresno State,Big West,12.0,25,155,6.2,1,195.0,837.0,4.3,8.0,220,992,4.5,9,1991
277,278,Harold Dennis,Tulane,Ind,11.0,21,130,6.2,0,79.0,300.0,3.8,2.0,100,430,4.3,2,1991
278,279,Ted Gregory,Kent State,MAC,11.0,23,137,6.0,0,86.0,231.0,2.7,1.0,109,368,3.4,1,1991

In [13]:
# standardizing player names and adding a primary key and space for a last_year column
rec_stats['Player'] = rec_stats['Player'].str.lower()
rec_stats['PK1'] = rec_stats['Player']+"+"+rec_stats['School']
rec_stats['Last_Year'] = np.nan
    
rec_stats

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
0,1,trea shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021,trea shropshire+UAB,NaN
1,2,tyrese chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021,tyrese chambers+Florida International,NaN
2,3,marvin mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021,marvin mims+Oklahoma,NaN
3,4,dontayvion wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021,dontayvion wicks+Virginia,NaN
4,5,isaiah neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021,isaiah neyor+Wyoming,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,275,curt zipfel,Northwestern,Big Ten,11.0,22,138,6.3,1,55.0,158.0,2.9,1.0,77,296,3.8,2,1991,curt zipfel+Northwestern,NaN
275,276,corey croom,Ball State,MAC,11.0,34,211,6.2,0,291.0,1053.0,3.6,8.0,325,1264,3.9,8,1991,corey croom+Ball State,NaN
276,277,lorenzo neal,Fresno State,Big West,12.0,25,155,6.2,1,195.0,837.0,4.3,8.0,220,992,4.5,9,1991,lorenzo neal+Fresno State,NaN
277,278,harold dennis,Tulane,Ind,11.0,21,130,6.2,0,79.0,300.0,3.8,2.0,100,430,4.3,2,1991,harold dennis+Tulane,NaN
278,279,ted gregory,Kent State,MAC,11.0,23,137,6.0,0,86.0,231.0,2.7,1.0,109,368,3.4,1,1991,ted gregory+Kent State,NaN

In [14]:
rec_stats = rec_stats[rec_stats['RecYds']>=rec_stats['RushYds']].copy()

In [16]:
def get_ly(pk):
    """Function to determine the last year a player played in college"""
    a = rec_stats.loc[rec_stats['PK1']==f'{pk}']
    b = max(a['Year'])
    return b

get_ly('ronnell kayhill+Missouri')

1992

In [17]:
# creating a list for use in the next step
pk_list = []
for index, row in rec_stats.iterrows():
    pk_list.append(row['PK1'])
    
pk_list[:5]

['trea shropshire+UAB',
 'tyrese chambers+Florida International',
 'marvin mims+Oklahoma',
 'dontayvion wicks+Virginia',
 'isaiah neyor+Wyoming']

In [18]:
# creating a list of the last year each player played 
year_list = []
for x in pk_list:
    year_list.append(get_ly(f"{x}"))

In [19]:
# adding year column to df
rec_stats['Last_Year'] = year_list
rec_stats.head()

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
0,1,trea shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021,trea shropshire+UAB,2021
1,2,tyrese chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021,tyrese chambers+Florida International,2021
2,3,marvin mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021,marvin mims+Oklahoma,2021
3,4,dontayvion wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021,dontayvion wicks+Virginia,2021
4,5,isaiah neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021,isaiah neyor+Wyoming,2021

In [20]:
rec_stats['Year'] = rec_stats['Year'].astype(str)
rec_stats['PK1'] = rec_stats['Player']+ "+" +rec_stats['School']
rec_stats.head()

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
0,1,trea shropshire,UAB,CUSA,12.0,27,703,26.0,7,0.0,0.0,NaN,0.0,27,703,26.0,7,2021,trea shropshire+UAB,2021
1,2,tyrese chambers,Florida International,CUSA,12.0,45,1074,23.9,9,0.0,0.0,NaN,0.0,45,1074,23.9,9,2021,tyrese chambers+Florida International,2021
2,3,marvin mims,Oklahoma,Big 12,13.0,32,705,22.0,5,1.0,15.0,15.0,0.0,33,720,21.8,5,2021,marvin mims+Oklahoma,2021
3,4,dontayvion wicks,Virginia,ACC,12.0,57,1203,21.1,9,0.0,0.0,NaN,0.0,57,1203,21.1,9,2021,dontayvion wicks+Virginia,2021
4,5,isaiah neyor,Wyoming,MWC,13.0,44,878,20.0,12,12.0,23.0,1.9,1.0,56,901,16.1,13,2021,isaiah neyor+Wyoming,2021

In [21]:
# drop categorical variables, and last_year (since we don't want to sum this one)
rec_stats1 = rec_stats.drop(columns=['Player', 'School', 'Conf', 'Rk', "Last_Year"])

In [22]:
# grouping stats by player
rec_stats_grouped = rec_stats1.groupby(by='PK1').sum()
rec_stats_grouped.head()

,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs
PK1,,,,,,,,,,,,,
'omar ellison+Florida State,11.0,32,506,15.8,2,5.0,28.0,5.6,0.0,37,534,14.4,2
a.j. bennett+Eastern Michigan,22.0,96,941,20.4,6,9.0,24.0,8.4,1.0,105,965,19.4,7
a.j. brown+Ole Miss,34.0,189,2984,46.4,19,0.0,0.0,0.0,0.0,189,2984,46.4,19
a.j. butler+New Mexico,7.0,32,213,6.7,0,50.0,177.0,3.5,1.0,82,390,4.8,1
a.j. coney+Akron,14.0,43,551,12.8,3,0.0,0.0,0.0,0.0,43,551,12.8,3

In [23]:
# adding a yards per game column
rec_stats_grouped['YPG'] = rec_stats_grouped['RecYds'] / rec_stats_grouped['G']
rec_stats_grouped = rec_stats_grouped.merge(rec_stats.drop_duplicates(subset=['PK1'])[['PK1', 'Last_Year', 'Conf']], on='PK1', how='left')

In [24]:
# fixing averages
rec_stats_grouped['RecAvg'] = rec_stats_grouped['RecYds'] / rec_stats_grouped['Rec']
rec_stats_grouped['RushAvg'] = rec_stats_grouped['RushYds'] / rec_stats_grouped['RushAtt']
rec_stats_grouped['YardsPerPlay'] = rec_stats_grouped['TotalYds'] / rec_stats_grouped['Plays']
rec_stats_grouped['year_drafted'] = rec_stats_grouped['Last_Year']+1
rec_stats_grouped['year_drafted'] = rec_stats_grouped['year_drafted'].astype(str)
rec_stats_grouped.head()

,PK1,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Last_Year,Conf,year_drafted
0,'omar ellison+Florida State,11.0,32,506,15.812500,2,5.0,28.0,5.600000,0.0,37,534,14.432432,2,46.000000,1994,ACC,1995
1,a.j. bennett+Eastern Michigan,22.0,96,941,9.802083,6,9.0,24.0,2.666667,1.0,105,965,9.190476,7,42.772727,2005,MAC,2006
2,a.j. brown+Ole Miss,34.0,189,2984,15.788360,19,0.0,0.0,NaN,0.0,189,2984,15.788360,19,87.764706,2018,SEC,2019
3,a.j. butler+New Mexico,7.0,32,213,6.656250,0,50.0,177.0,3.540000,1.0,82,390,4.756098,1,30.428571,2009,MWC,2010
4,a.j. coney+Akron,14.0,43,551,12.813953,3,0.0,0.0,NaN,0.0,43,551,12.813953,3,39.357143,2017,MAC,2018

In [25]:
rec_stats_grouped['PK'] = rec_stats_grouped['PK1'].str.split("+").str[0]+"+"+rec_stats_grouped['year_drafted']
rec_stats_grouped.head()

,PK1,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Last_Year,Conf,year_drafted,PK
0,'omar ellison+Florida State,11.0,32,506,15.812500,2,5.0,28.0,5.600000,0.0,37,534,14.432432,2,46.000000,1994,ACC,1995,'omar ellison+1995
1,a.j. bennett+Eastern Michigan,22.0,96,941,9.802083,6,9.0,24.0,2.666667,1.0,105,965,9.190476,7,42.772727,2005,MAC,2006,a.j. bennett+2006
2,a.j. brown+Ole Miss,34.0,189,2984,15.788360,19,0.0,0.0,NaN,0.0,189,2984,15.788360,19,87.764706,2018,SEC,2019,a.j. brown+2019
3,a.j. butler+New Mexico,7.0,32,213,6.656250,0,50.0,177.0,3.540000,1.0,82,390,4.756098,1,30.428571,2009,MWC,2010,a.j. butler+2010
4,a.j. coney+Akron,14.0,43,551,12.813953,3,0.0,0.0,NaN,0.0,43,551,12.813953,3,39.357143,2017,MAC,2018,a.j. coney+2018

In [26]:
rec_stats_grouped.loc[rec_stats_grouped['PK1']=="ja'marr chase+LSU", "PK"] = "ja'marr chase+2021"

In [27]:
def combine_draft_and_combine(df1, df2):
    """Function for combining the draft order and combine data
    df1 refers to the draft dataframe, df2 is combine. This function only works for 2000-present"""
    df1 = df1[df1['Position']=='WR']
    a = df1.merge(df2, how='left', on='Pick')
    a = a.drop(columns=['Player_y', 'Position_y','School_y','Year_y', 'Round_y'])
    a.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)']
    a['Year'] = a['Year'].astype(str)
    a['PK'] = a['Player'] + "+" + a['Year']
    a['PK'] = a['PK'].str.lower()
    return a

In [108]:
def combine_draft_and_combine90s(df1, df2):
    df1 = df1[df1['Position']=='WR'].copy()
    df1['Year'] = df1['Year'].astype(str)
    df1['PK'] = df1['Player'].str.lower()+"+"+df1['Year']
    df1['Year'] = df1['Year'].astype(int)
    a = df1.merge(df2, how='left', on='PK')
    a = a.drop(columns=['Player_y', 'Position_y','School_y','Year_y'])
    a.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'PK', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)']
    a = a[['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)', 'PK']]
    return a

combine_draft_and_combine90s(draft_1993, data).head()

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,Vertical Jump,3 Cone,Shuttle,Height (in),PK
0,1,7,CHI,Curtis Conway,WR,22.0,USC,1993,185.0,NaN,NaN,NaN,NaN,72.3,curtis conway+1993
1,1,16,IND,Sean Dawkins,WR,22.0,California,1993,213.0,4.61,32.0,NaN,4.00,75.9,sean dawkins+1993
2,1,25,MIA,O.J. McDuffie,WR,23.0,Penn St.,1993,191.0,NaN,NaN,NaN,NaN,70.1,o.j. mcduffie+1993
3,2,46,DAL,Kevin Williams,WR,22.0,Miami (FL),1993,190.0,4.49,35.5,NaN,4.61,69.0,kevin williams+1993
4,2,50,PHI,Victor Bailey,WR,23.0,Missouri,1993,196.0,4.57,35.0,NaN,4.16,74.3,victor bailey+1993

In [103]:
draft_1993.head()

   Round  Pick Team           Player Position   Age          School  Year
0      1     1  NWE     Drew Bledsoe       QB  21.0  Washington St.  1993
1      1     2  SEA       Rick Mirer       QB  23.0      Notre Dame  1993
2      1     3  PHO  Garrison Hearst       RB  22.0         Georgia  1993
3      1     4  NYJ     Marvin Jones       LB  21.0     Florida St.  1993
4      1     5  CIN    John Copeland       DE  22.0         Alabama  1993

In [28]:
merged_2021 = combine_draft_and_combine(draft_2021, combine_2021)
merged_2021.head()

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,Vertical Jump,3 Cone,Shuttle,Height (in),PK
0,1,5,CIN,Ja'Marr Chase,WR,21,LSU,2021,201.0,4.34,41.0,6.96,3.99,72.0,ja'marr chase+2021
1,1,6,MIA,Jaylen Waddle,WR,22,Alabama,2021,NaN,NaN,NaN,NaN,NaN,NaN,jaylen waddle+2021
2,1,10,PHI,DeVonta Smith,WR,22,Alabama,2021,NaN,NaN,NaN,NaN,NaN,NaN,devonta smith+2021
3,1,20,NYG,Kadarius Toney,WR,22,Florida,2021,193.0,4.39,39.5,6.88,4.25,71.0,kadarius toney+2021
4,1,27,BAL,Rashod Bateman,WR,21,Minnesota,2021,190.0,4.39,36.0,NaN,NaN,72.0,rashod bateman+2021

In [29]:
def get_final_df(df1, df2):
    a = df1.merge(df2[['G', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs', 'YPG', 'Conf',"PK"]], on='PK', how='left')
    return a

In [30]:
final_2021 = get_final_df(merged_2021, rec_stats_grouped)

In [31]:
final_2021.head()

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,...,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Conf
0,1,5,CIN,Ja'Marr Chase,WR,21,LSU,2021,201.0,4.34,...,1.0,5.0,5.000,0.0,85.0,1785.0,21.000000,20.0,127.142857,SEC
1,1,6,MIA,Jaylen Waddle,WR,22,Alabama,2021,NaN,NaN,...,4.0,17.0,4.250,0.0,110.0,2016.0,18.327273,17.0,58.794118,SEC
2,1,10,PHI,DeVonta Smith,WR,22,Alabama,2021,NaN,NaN,...,4.0,6.0,1.500,1.0,231.0,3811.0,16.497835,44.0,97.564103,SEC
3,1,20,NYG,Kadarius Toney,WR,22,Florida,2021,193.0,4.39,...,40.0,401.0,10.025,1.0,135.0,1645.0,12.185185,12.0,54.086957,SEC
4,1,27,BAL,Rashod Bateman,WR,21,Minnesota,2021,190.0,4.39,...,0.0,0.0,NaN,0.0,147.0,2395.0,16.292517,19.0,77.258065,Big Ten

In [111]:
# making dfs
final_2020 = get_final_df(combine_draft_and_combine(draft_2020, clean_combine(combine_2020, 'WR')), rec_stats_grouped)
final_2019 = get_final_df(combine_draft_and_combine(draft_2019, clean_combine(combine_2019, 'WR')), rec_stats_grouped)
final_2018 = get_final_df(combine_draft_and_combine(draft_2018, clean_combine(combine_2018, 'WR')), rec_stats_grouped)
final_2017 = get_final_df(combine_draft_and_combine(draft_2017, clean_combine(combine_2017, 'WR')), rec_stats_grouped)
final_2016 = get_final_df(combine_draft_and_combine(draft_2016, clean_combine(combine_2016, 'WR')), rec_stats_grouped)
final_2015 = get_final_df(combine_draft_and_combine(draft_2015, clean_combine(combine_2015, 'WR')), rec_stats_grouped)
final_2014 = get_final_df(combine_draft_and_combine(draft_2014, clean_combine(combine_2014, 'WR')), rec_stats_grouped)
final_2013 = get_final_df(combine_draft_and_combine(draft_2013, clean_combine(combine_2013, 'WR')), rec_stats_grouped)
final_2012 = get_final_df(combine_draft_and_combine(draft_2012, clean_combine(combine_2012, 'WR')), rec_stats_grouped)
final_2011 = get_final_df(combine_draft_and_combine(draft_2011, clean_combine(combine_2011, 'WR')), rec_stats_grouped)
final_2010 = get_final_df(combine_draft_and_combine(draft_2010, clean_combine(combine_2010, 'WR')), rec_stats_grouped)
final_2009 = get_final_df(combine_draft_and_combine(draft_2009, clean_combine(combine_2009, 'WR')), rec_stats_grouped)
final_2008 = get_final_df(combine_draft_and_combine(draft_2008, clean_combine(combine_2008, 'WR')), rec_stats_grouped)
final_2007 = get_final_df(combine_draft_and_combine(draft_2007, clean_combine(combine_2007, 'WR')), rec_stats_grouped)
final_2006 = get_final_df(combine_draft_and_combine(draft_2006, clean_combine(combine_2006, 'WR')), rec_stats_grouped)
final_2005 = get_final_df(combine_draft_and_combine(draft_2005, clean_combine(combine_2005, 'WR')), rec_stats_grouped)
final_2004 = get_final_df(combine_draft_and_combine(draft_2004, clean_combine(combine_2004, 'WR')), rec_stats_grouped)
final_2003 = get_final_df(combine_draft_and_combine(draft_2003, clean_combine(combine_2003, 'WR')), rec_stats_grouped)
final_2002 = get_final_df(combine_draft_and_combine(draft_2002, clean_combine(combine_2002, 'WR')), rec_stats_grouped)
final_2001 = get_final_df(combine_draft_and_combine(draft_2001, clean_combine(combine_2001, 'WR')), rec_stats_grouped)
final_2000 = get_final_df(combine_draft_and_combine(draft_2000, clean_combine(combine_2000, 'WR')), rec_stats_grouped)
final_1999 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, 'WR')), rec_stats_grouped)
final_1998 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, 'WR')), rec_stats_grouped)
final_1997 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, 'WR')), rec_stats_grouped)
final_1996 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, 'WR')), rec_stats_grouped)
final_1995 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, 'WR')), rec_stats_grouped)
final_1994 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, 'WR')), rec_stats_grouped)
final_1993 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, 'WR')), rec_stats_grouped)

final_features = pd.concat([final_1993, final_1994, final_1995, final_1996, final_1997, final_1998, final_1999, final_2000, final_2001, final_2002, final_2003, final_2004, final_2005, final_2006,
                           final_2007, final_2008, final_2009, final_2010, final_2010, final_2011, final_2012, final_2013, final_2014, final_2015, final_2016, final_2017, final_2018, final_2019, final_2020,final_2021])

In [32]:
# reading in data for response variable
points_1993 = pd.read_csv('yearly/1993.csv')
points_1994 = pd.read_csv('yearly/1994.csv')
points_1995 = pd.read_csv('yearly/1995.csv')
points_1996 = pd.read_csv('yearly/1996.csv')
points_1997 = pd.read_csv('yearly/1997.csv')
points_1998 = pd.read_csv('yearly/1998.csv')
points_1999 = pd.read_csv('yearly/1999.csv')
points_2000 = pd.read_csv('yearly/2000.csv')
points_2001 = pd.read_csv('yearly/2001.csv')
points_2002 = pd.read_csv('yearly/2002.csv')
points_2003 = pd.read_csv('yearly/2003.csv')
points_2004 = pd.read_csv('yearly/2004.csv')
points_2005 = pd.read_csv('yearly/2005.csv')
points_2006 = pd.read_csv('yearly/2006.csv')
points_2007 = pd.read_csv('yearly/2007.csv')
points_2008 = pd.read_csv('yearly/2008.csv')
points_2009 = pd.read_csv('yearly/2009.csv')
points_2010 = pd.read_csv('yearly/2010.csv')
points_2011 = pd.read_csv('yearly/2011.csv')
points_2012 = pd.read_csv('yearly/2012.csv')
points_2013 = pd.read_csv('yearly/2013.csv')
points_2014 = pd.read_csv('yearly/2014.csv')
points_2015 = pd.read_csv('yearly/2015.csv')
points_2016 = pd.read_csv('yearly/2016.csv')
points_2017 = pd.read_csv('yearly/2017.csv')
points_2018 = pd.read_csv('yearly/2018.csv')
points_2019 = pd.read_csv('yearly/2019.csv')
points_2020 = pd.read_csv('yearly/2020.csv')
points_2021 = pd.read_csv('yearly/2021.csv')

points_1993['Year'] = 1993
points_1994['Year'] = 1994
points_1995['Year'] = 1995
points_1996['Year'] = 1996
points_1997['Year'] = 1997
points_1998['Year'] = 1998
points_1999['Year'] = 1999
points_2000['Year'] = 2000
points_2001['Year'] = 2001
points_2002['Year'] = 2002
points_2003['Year'] = 2003
points_2004['Year'] = 2004
points_2005['Year'] = 2005
points_2006['Year'] = 2006
points_2007['Year'] = 2007
points_2008['Year'] = 2008
points_2009['Year'] = 2009
points_2010['Year'] = 2010
points_2011['Year'] = 2011
points_2012['Year'] = 2012
points_2013['Year'] = 2013
points_2014['Year'] = 2014
points_2015['Year'] = 2015
points_2016['Year'] = 2016
points_2017['Year'] = 2017
points_2018['Year'] = 2018
points_2019['Year'] = 2019
points_2020['Year'] = 2020
points_2021['Year'] = 2021

In [33]:
# combining dataframes
points_full = pd.concat([points_1993, points_1994, points_1995, points_1996, points_1997, points_1998, points_1999, points_2000, points_2001, points_2002, points_2003, points_2004, points_2005, points_2006, points_2007, points_2008, points_2009,
                        points_2010, points_2011, points_2012, points_2013, points_2014, points_2015, points_2016, points_2017, points_2018, points_2019, points_2020, points_2021])

# removing characters
points_full['Player'] = points_full['Player'].str.replace("*","")
points_full['Player'] = points_full['Player'].str.replace("+","")

# creating primary key

# creating response variable
points_full['PPRPoints'] = points_full['Rec'] + (points_full['PassingYds']*.04) + (points_full['PassingTD']*4) + (points_full['RushingTD']*6) + (points_full['ReceivingTD']*6) + (points_full['RushingYds']*.1) + (points_full['ReceivingYds']*.1) - (points_full['FumblesLost']*2) - (points_full['Int']*2)

In [34]:
points_full_wr = points_full[points_full['Pos']=='WR']
points_full_wr.head()

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,...,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints
0,0.0,Jerry Rice,SFO,WR,31.0,16.0,16.0,153.0,98.0,0.0,...,1.0,3.0,1503.0,15.0,345.20,0.0,3.0,0.0,1993,351.20
3,3.0,Andre Rison,ATL,WR,26.0,16.0,16.0,165.0,86.0,0.0,...,0.0,0.0,1242.0,15.0,296.20,0.0,2.0,0.0,1993,300.20
7,7.0,Sterling Sharpe,GNB,WR,28.0,16.0,16.0,189.0,112.0,1.0,...,0.0,4.0,1274.0,11.0,304.24,0.0,1.0,0.0,1993,306.24
11,11.0,Michael Irvin,DAL,WR,27.0,16.0,16.0,143.0,88.0,0.0,...,0.0,2.0,1330.0,7.0,263.60,0.0,0.0,0.0,1993,263.60
17,17.0,Cris Carter,MIN,WR,28.0,16.0,16.0,143.0,86.0,0.0,...,0.0,0.0,1071.0,9.0,247.10,0.0,0.0,0.0,1993,247.10

In [35]:
def check_duplicates(df, column3, threshold):
    """Function for checking for duplicate values. First 2 columns are used for creating a primary key, column 3 is to test accuracy with the specified threshold"""
    dupe_test = df.copy()
    dupe_test['Year'] = dupe_test['Year'].astype(str)
    dupe_test['PK'] = dupe_test['Player'] + "+" + dupe_test['Year']
    test_var = dupe_test[['PK', column3]]
    test_var_grouped = test_var.groupby('PK').sum()
    output = test_var_grouped[test_var_grouped[f'{column3}']>threshold]
    return output

check_duplicates(points_full_wr, 'G', 17)

                       G
PK
Mike Williams+2010  30.0
Mike Williams+2011  28.0
Steve Smith+2007    20.0
Steve Smith+2008    30.0
Steve Smith+2009    31.0
Steve Smith+2010    23.0
Steve Smith+2011    25.0
Steve Smith+2012    25.0

In [37]:
points_full_wr['PK'] = points_full_wr['Player'] + "+" + points_full_wr['Tm']
points_full_wr

<ipython-input-37-c6df63c44cef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  points_full_wr['PK'] = points_full_wr['Player'] + "+" + points_full_wr['Tm']

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,...,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints,PK
0,0.0,Jerry Rice,SFO,WR,31.0,16.0,16.0,153.0,98.0,0.0,...,3.0,1503.0,15.0,345.20,0.0,3.0,0.0,1993,351.20,Jerry Rice+SFO
3,3.0,Andre Rison,ATL,WR,26.0,16.0,16.0,165.0,86.0,0.0,...,0.0,1242.0,15.0,296.20,0.0,2.0,0.0,1993,300.20,Andre Rison+ATL
7,7.0,Sterling Sharpe,GNB,WR,28.0,16.0,16.0,189.0,112.0,1.0,...,4.0,1274.0,11.0,304.24,0.0,1.0,0.0,1993,306.24,Sterling Sharpe+GNB
11,11.0,Michael Irvin,DAL,WR,27.0,16.0,16.0,143.0,88.0,0.0,...,2.0,1330.0,7.0,263.60,0.0,0.0,0.0,1993,263.60,Michael Irvin+DAL
17,17.0,Cris Carter,MIN,WR,28.0,16.0,16.0,143.0,86.0,0.0,...,0.0,1071.0,9.0,247.10,0.0,0.0,0.0,1993,247.10,Cris Carter+MIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,578.0,Alex Bachman,NYG,WR,25.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,NaN,0.0,0.0,0.0,2021,-0.30,Alex Bachman+NYG
605,605.0,Maurice Ffrench,LAC,WR,23.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,NaN,0.0,0.0,0.0,2021,0.30,Maurice Ffrench+LAC
663,663.0,Racey McMath,TEN,WR,22.0,9.0,0.0,6.0,2.0,0.0,...,0.0,8.0,0.0,-1.00,0.0,1.0,1.0,2021,0.80,Racey McMath+TEN
664,664.0,Malik Taylor,GNB,WR,26.0,10.0,0.0,3.0,2.0,0.0,...,0.0,14.0,0.0,-1.00,0.0,1.0,1.0,2021,1.40,Malik Taylor+GNB
670,670.0,Diontae Spencer,DEN,WR,29.0,15.0,0.0,4.0,1.0,0.0,...,0.0,-3.0,0.0,-4.00,0.0,2.0,2.0,2021,-3.30,Diontae Spencer+DEN

In [38]:
def get_fy(pk):
    """Function to determine the first year a player was in the NFL"""
    a = points_full_wr.loc[points_full_wr['PK']==f'{pk}']
    b = min(a['Year'])
    return b

In [39]:
pk_list = []
for index, row in points_full_wr.iterrows():
    pk_list.append(row['PK'])

In [40]:
# creating a list of the first year each player played 
year_list = []
for x in pk_list:
    year_list.append(str(get_fy(f"{x}")))

In [51]:
points_full_wr = points_full_wr.copy()
points_full_wr['first_year'] = year_list
points_full_wr.head()
points_full_wr['PK2'] = points_full_wr['Player'].str.lower()+"+"+points_full_wr['first_year']
points_full_wr_grouped = points_full_wr.groupby('PK2').sum()
points_full_wr_grouped['PPG'] = points_full_wr_grouped['PPRPoints']/points_full_wr_grouped['G']
points_full_wr_grouped['PK'] = points_full_wr_grouped.index
points_full_wr_grouped[points_full_wr_grouped['PK']=="elijah moore+2021"]

,Unnamed: 0,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,...,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints,PPG,PK
PK2,,,,,,,,,,,,,,,,,,,,,
elijah moore+2021,129.0,21.0,11.0,6.0,77.0,43.0,0.0,0.0,0.0,54.0,...,538.0,5.0,95.0,0.0,0.0,0.0,2021,138.2,12.563636,elijah moore+2021

In [54]:
#TODO Drop low gs numbers, calculate percentiles, make response
# points_full_wr_grouped = points_full_wr_grouped[points_full_wr_grouped['GS']>14]

# calculating quantiles for response variable
q90 = points_full_wr_grouped.PPG.quantile(.90)
q75 = points_full_wr_grouped.PPG.quantile(.75)
q50 = points_full_wr_grouped.PPG.quantile(.50)
q25 = points_full_wr_grouped.PPG.quantile(.25)
q75

7.5435287175452395

In [55]:
response = []
for x in points_full_wr_grouped['PPG']:
    if x >= q90:
        response.append(1)
    elif x >= q75:
        response.append(2)
    elif x >= q25:
        response.append(3)
    else:
        response.append(4)

In [56]:
points_full_wr_grouped['response'] = response

In [57]:
points_full_wr_grouped['PK']==''

PK2
'omar ellison+1995    False
a.j. brown+2019       False
a.j. green+2011       False
a.j. green+2021       False
a.j. jenkins+2013     False
                      ...
zay jones+2017        False
zay jones+2019        False
zay jones+2020        False
zola davis+1999       False
zuriel smith+2003     False
Name: PK, Length: 2391, dtype: bool

In [112]:
# creating df for use in next step
wr_final = final_features.merge(points_full_wr_grouped[['PK', 'response']], how='left', on='PK')
wr_final.head()

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,...,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Conf,response
0,1,6,STL,Torry Holt,WR,23.0,North Carolina St.,1999,192.0,4.44,...,117.0,10.636364,0.0,185.0,3235.0,17.486486,30.0,107.517241,ACC,1.0
1,1,8,ARI,David Boston,WR,21.0,Ohio St.,1999,215.0,4.47,...,8.0,2.666667,0.0,161.0,2413.0,14.987578,27.0,96.200000,Big Ten,1.0
2,1,13,PIT,Troy Edwards,WR,22.0,Louisiana Tech,1999,191.0,4.57,...,447.0,11.763158,6.0,318.0,4799.0,15.091195,56.0,128.000000,Ind,3.0
3,2,32,CLE,Kevin Johnson,WR,23.0,Syracuse,1999,194.0,4.41,...,105.0,13.125000,3.0,68.0,999.0,14.691176,12.0,81.272727,Big East,1.0
4,2,53,BUF,Peerless Price,WR,22.0,Tennessee,1999,180.0,4.55,...,122.0,17.428571,1.0,148.0,2349.0,15.871622,20.0,63.628571,SEC,2.0

In [113]:
wr_final.to_csv('wr_final.csv')

In [62]:
wr_final_2021.loc[wr_final_2021['response'].isna(), 'response']  = 4

In [63]:
wr_final_2021['response']

0     1.0
1     1.0
2     2.0
3     2.0
4     2.0
5     1.0
6     2.0
7     3.0
8     4.0
9     3.0
10    3.0
11    3.0
12    4.0
13    3.0
14    3.0
15    3.0
16    1.0
17    4.0
18    4.0
19    4.0
20    3.0
21    4.0
22    4.0
23    4.0
24    4.0
25    3.0
26    4.0
27    4.0
28    3.0
29    4.0
30    4.0
31    4.0
32    3.0
33    4.0
34    4.0
Name: response, dtype: float64